<div class="mainBlock">
  <div class="newsBlock">
    <div class="heading">
      <h1>Essay about Artificial intelligence (AI)</h1>
      <div class="deleteIcon">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </div>
    </div>
    <div class="d-flex">
      <div class="avater">
        <img src="../../../../../assets/images/enrollment/cardPic.png" />
      </div>
      <div class="mt-2">
        <p>Posted By: <span> Zho VelcoS</span></p>
        <p>Posted Date: <span>Feb 20, 2023 at 04:40 PM</span></p>
      </div>
    </div>
    <div class="discription">
      <p>
        Artificial Intelligence (AI) is a branch of computer science that aims
        to create machines that can perform tasks that typically require human
        intelligence. This technology has the potential to revolutionize our
        society and change the way we live and work. In this essay, we will
        explore the definition, history, current state, and future of AI.
        Firstly, AI refers to the ability of machines to perform tasks that
        would typically require human intelligence. These tasks can range from
        simple things like recognizing patterns to complex tasks like
        understanding natural language and making decisions based on that
        understanding. AI can be classified into two categories: narrow or weak
        AI and general or strong AI. Narrow AI is designed to perform specific
        tasks and is what we currently have today. On the other hand, general AI
        is the goal of creating machines that can perform any intellectual task
        that a human can do. Secondly, the history of AI can be traced back to
        the 1950s, when the first AI program was developed by John McCarthy.
        Since then, researchers and scientists have been working on developing
        and improving AI algorithms and applications. The field of AI has gone
        through several waves of development, each marked by significant
        advancements in the technology. Today, AI is being used in many
        applications, including natural language processing, image recognition,
        and autonomous vehicles. Thirdly, the current state of AI is that it is
        becoming more and more prevalent in our daily lives. We use AI-powered
        applications like Siri and Alexa to help us with various tasks, and we
        see AI being used in industries like healthcare, finance, and
        transportation. However, there are also concerns about the impact of AI
        on jobs and privacy, as well as the potential for AI to be used for
        malicious purposes. Finally, the future of AI is promising, with
        researchers working on developing new AI algorithms and applications
        that can perform even more complex tasks. However, there are also
        concerns about the ethical implications of AI, such
      </p>
    </div>
  </div>
  <div class="newsBlock">
    <div class="heading">
      <h1>Test title</h1>
      <div class="deleteIcon">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </div>
    </div>
    <div class="d-flex">
      <div class="avater">
        <img src="../../../../../assets/images/enrollment/cardPic.png" />
      </div>
      <div class="mt-2">
        <p>Posted By: <span> Zho VelcoS</span></p>
        <p>Posted Date: <span>Feb 20, 2023 at 04:40 PM</span></p>
      </div>
    </div>
  </div>
  <div class="newsBlock">
    <div class="heading">
      <h1>Test title</h1>
      <div class="deleteIcon">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </div>
    </div>
    <div class="d-flex">
      <div class="avater">
        <img src="../../../../../assets/images/enrollment/cardPic.png" />
      </div>
      <div class="mt-2">
        <p>Posted By: <span> Zho VelcoS</span></p>
        <p>Posted Date: <span>Feb 20, 2023 at 04:40 PM</span></p>
      </div>
    </div>
  </div>
  <div class="newsBlock">
    <div class="heading">
      <h1>Test title</h1>
      <div class="deleteIcon">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </div>
    </div>
    <div class="d-flex">
      <div class="avater">
        <img src="../../../../../assets/images/enrollment/cardPic.png" />
      </div>
      <div class="mt-2">
        <p>Posted By: <span> Zho VelcoS</span></p>
        <p>Posted Date: <span>Feb 20, 2023 at 04:40 PM</span></p>
      </div>
    </div>
  </div>
</div>
