<app-header></app-header>

<section id="innerBanner">
  <div class="container">
    <h2>Contact Us</h2>
  </div>
</section>

<section id="contactForm">
  <div class="container">
    <div class="row">
        <div class="leftCol">
            <h2>Address</h2>
            <p>Yan Singh Personal Consultant Agency</p>
            <ul>
                <li>
                    <div class="icon">
                        <img src="../../../../assets/images/location.png" alt="location" />
                    </div>
                    <div class="content">
                      <h4>Address :</h4>
                      <p>Rm C2/1011, 10/F, Hung Hom Commercial CTR, Tower B</p>
                      <p>37-39 Ma Tau Wai Road, Hung Hom, KLN</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="../../../../assets/images/phone.png" alt="phone" />
                    </div>
                    <div class="content">
                        <h4>Phone :</h4>
                        <p>62295953 / +85262295953</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="../../../../assets/images/email.png" alt="email" />
                    </div>
                    <div class="content">
                        <h4>Email :</h4>
                        <p>info@yansingh.com</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rightCol">
        <form>
            <h5>Get in Touch</h5>
            <h2>We Love to Hear From You</h2>
            <div class="formField">
             <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="formField">
                <input type="email" name="email" id="email" placeholder="Email" />
               </div>
            <div class="formField">
                <input type="phone" name="phone" id="phone" placeholder="Phone" />
            </div>
            <div class="formField">
                <textarea type="text" rows="5" placeholder="Comment" ></textarea>
            </div>
            <input type="submit" name="Search" value="submit" class="submitBtn" />
        </form>
        </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
