/* You can add global styles to this file, and also import other style files */

/* Scroll bar new design, start */
.scrollbar-new-design:hover::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f5f5f5;
}

.scrollbar-new-design::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar-new-design:hover::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar-new-design:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar-new-design:hover::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

$color_1: #fff;

/* Scroll bar new design, end */

/*--Common Elements--*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
  overflow-x: hidden !important;
  background: #fff;
}

textarea,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none !important;
  cursor: pointer !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
}

#rightSection {
  transition: all 0.5s ease;
}

// #navbar.shortWidth ~ #rightSection {
//   width: calc(100vw - 94px);
//   margin-left: 94px;
// }

// #navbar.fullWidth ~ #rightSection {
//   width: calc(100vw - 250px);
//   margin-left: 250px;
// }

#navbar {
  max-width: 94px;
}
#rightSection {
  width: calc(100% - 94px);
  margin-left: 94px;
}
body.openmenu #navbar {
  max-width: 250px;
}
body.openmenu #rightSection {
  width: calc(100% - 250px);
  margin-left: 250px;
}

#navbar {
  nav {
    > ul.sorter-menu {
      padding: 0;
      li {
        .navMain {
          margin-bottom: 10px;
          position: relative;
          span {
            color: $color_1;
          }
        }
        &:hover {
          .navMain {
            span {
              background: transparent !important;
            }
          }
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          width: 225px;
          background: #001729;
          border-radius: 8px;
          position: absolute;
          display: none;
          left: 94px;
          top: 15px;
          transition: 1s ease;
          animation: ease-out 1s ease;
          z-index: 99;
        }
      }
    }
  }
}

/*--Left Bar--*/
#navbar {
  position: fixed;
  max-width: 94px;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #001729;
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  z-index: 999;
  transition: all 0.5s ease;
}

#navbar .newLogoBlock {
  width: 90%;
  max-width: 42px;
  min-height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

#navbar .newLogoBlock .expandIcon {
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}
#navbar.fullWidth .newLogoBlock .expandIcon {
  right: -25px;
}

#navbar .newLogoBlock:before {
  width: 70px;
  height: 50px;
  content: "";
  position: absolute;
  right: -70px;
  top: -5px;
}

#navbar .newLogoBlock:hover .expandIcon {
  transform: translateY(-50%);
  display: block;
}

#navbar nav {
  display: flex;
  width: 90%;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#navbar nav > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

#navbar nav > ul > li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  padding: 0px;
  padding-left: 15px;
}

#navbar nav > ul > li:before {
  content: "";
}

#navbar nav > ul > li span {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  cursor: pointer;
}
#navbar.shortWidth ul li {
  padding: 0;
}
#navbar.shortWidth ul li .navMain {
  margin-bottom: 20px;
}
#navbar.shortWidth ul li .navMain span {
  padding: 0;
  margin: 0;
}

#navbar nav > ul > li span i {
  color: #fff;
}

#navbar nav > ul > li span a {
  color: #fff;
}
#rightSection .welcomeBar + .contentSection {
  padding: 0;
}
#navbar nav > ul > li:hover span {
  background: rgba(255, 255, 255, 0.1);
}

#navbar nav > ul > li:hover span svg path {
  fill: #ffffff !important;
}

#navbar nav > ul > li:hover span svg g {
  opacity: 1;
}

#navbar nav > ul > li:hover .navMain {
  position: relative;
}

// #navbar nav > ul > li:hover .navMain:before {
//   position: absolute;
//   content: "";
//   width: 4px;
//   height: 26px;
//   background: #00a884;
//   top: 50%;
//   left: -17px;
//   border-radius: 0px 4px 4px 0px;
//   transform: translateY(-50%);
// }

#navbar nav > ul > li:after {
  position: absolute;
  content: "";
  width: 70px;
  height: 50px;
  background: red;
  top: 0;
  left: 40px;
  opacity: 0;
}

#navbar nav > ul > li:hover .dropdown {
  display: block;
}

#navbar .dropdown {
  background: #001729;
  display: none;
  box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 14px;
  left: 95px;
  width: 100%;
  max-width: 225px;
  transition: 0.5s ease;
  animation: slide-in 0.5s ease;
}

#navbar .dropdown:before {
  position: absolute;
  content: "";
  width: 34px;
  height: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #001729;
  top: 15px;
  left: -9px;
}

#navbar.fullWidth .newLogoBlock {
  width: 90%;
  min-width: 42px;
  max-width: 90%;
  padding: 10px 0px;
  min-height: auto;
}

#navbar.shortWidth .newLogoBlock .shortLogo {
  display: block;
}

#navbar.fullWidth .newLogoBlock .bigLogo svg {
  width: 150px;
  height: auto;
}

// #navbar.shortWidth {
//   max-width: 80px;
// }

// #navbar.fullWidth {
//   max-width: 250px;
// }

#navbar.shortWidth .navTitle {
  display: none;
}

#navbar.fullWidth .navTitle {
  display: flex;
}

#navbar.shortWidth nav > ul > li {
  align-items: center;
}

#navbar.shortWidth nav > ul > li .navMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  cursor: pointer;
}

#navbar.shortWidth nav > ul > li .navMain:hover {
  background: rgba(255, 255, 255, 0.1);
}

#navbar nav > ul > li .navMain:hover svg path {
  fill: #ffffff !important;
  opacity: 1;
}

#navbar nav > ul > li .navMain svg path {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
}

#navbar.shortWidth nav > ul > li .navMain:hover svg g {
  opacity: 1;
}

#navbar.fullWidth .dropdown h3 {
  display: none;
}

#navbar.fullWidth .dropdown {
  background: none;
  box-shadow: none;
  display: none !important;
}

#navbar.fullWidth > nav > ul > li.activeLink .dropdown {
  display: flex !important;
}

#navbar.fullWidth .dropdown ol {
  padding: 0px;
}

#navbar.fullWidth > nav > ul > li .navMain {
  display: flex;
  gap: 0px;
  align-items: center;
  margin-bottom: 15px;
}

// #navbar.fullWidth > nav > ul > li.activeLink .navMain {
//   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
// }
#navbar.fullWidth > nav > ul > li.activeLink .dropdown {
  border-left: 1px solid #fff;
  border-radius: 0 !important;
  margin-bottom: 20px;
  padding-left: 5px;
}

#navbar.fullWidth nav > ul > li.activeLink .navTitle svg {
  transition: 0.5s;
}

#navbar.fullWidth .dropdown:before,
#navbar.fullWidth nav > ul > li:after {
  display: none;
}

#navbar.fullWidth nav > ul > li:hover span {
  background: none;
}

#navbar.fullWidth nav > ul > li.activeLink span {
  color: rgba(255, 255, 255, 1);
}

#navbar.fullWidth nav > ul > li.activeLink .navMain svg path {
  fill: #ffffff;
  fill-opacity: 1;
}

#navbar.fullWidth nav > ul > li.activeLink .navTitle svg {
  transform: rotate(-180deg);
}

#navbar.fullWidth nav > ul > li span {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

#navbar.fullWidth nav > ul > li span.main-icon {
  width: 30px;
  margin-right: 12px;
}
#navbar nav > ul > li.activeLink > .navMain {
  margin-bottom: 15px;
}
// #navbar.fullWidth nav > ul > li.activeLink:before {
//   width: 3px;
//   height: 20px;
//   background: #00a884;
//   position: absolute;
//   left: -12px;
//   top: 30px;
//   border-radius: 0 10px 10px 0px;
// }

#navbar.fullWidth .dropdown {
  display: block;
  position: static;
}

#navbar .dropdown h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  padding: 0 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
}

#navbar .dropdown ol {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}

#navbar .dropdown ol li {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

#navbar .dropdown ol li a {
  font-style: normal;
  min-height: 45px;
  padding: 0 8px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  width: 98%;
}

#navbar .dropdown ol li a:hover {
  background: rgba(243, 244, 246, 0.1);
}

/*--Right Section--*/
#rightSection .welcomeBar {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #f3f4f6;
}

#rightSection .welcomeBar .leftBlock h2 {
  font-weight: 400;
  font-size: 14px;
  color: #031926;
}

#rightSection .welcomeBar .rightBlock {
  display: flex;
  align-items: center;
  gap: 22px;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn ~ ul {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn ~ ul li a {
  display: flex;
  align-items: center;
  width: 48px;
  height: 45px;
  border-radius: 5px;
  justify-content: center;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn ~ ul li a:hover {
  background: rgba(0, 168, 132, 0.12);
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  ~ ul
  li
  a:hover
  svg
  path {
  fill: rgba(0, 168, 132, 1);
  fill-opacity: 1;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField {
  position: relative;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField .customInput {
  position: relative;
  min-height: 45px;
  background: #ffffff;
  border: 1px solid #eaebee;
  border-radius: 8px;
  width: 233px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField .customInput {
  position: relative;
  min-height: 45px;
  background: #ffffff;
  border: 1px solid #eaebee;
  border-radius: 8px;
  width: 233px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput.active {
  border-color: #00a884;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput
  label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #343d56;
  opacity: 0.5;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 3px;
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput:after {
  position: absolute;
  content: "";
  /*background: url(../images/dropdownArror.svg) no-repeat;*/
  background: url(./assets/images/dropdownArror.svg) no-repeat;
  width: 9px;
  height: 5px;
  background-size: cover;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput.active:after {
  transform: translateY(-50%) rotate(-180deg);
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput
  h3 {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #343d56;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 20px;
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput:hover {
  border-color: #00a884;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField ul {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50px;
  display: none;
  z-index: 99;
}

#rightSection
  .welcomeBar
  .rightBlock
  .dropdownsColumn
  .formField
  .customInput.active
  ~ ul {
  display: flex;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField ul li {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  padding: 10px 8px 10px 8px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #343d56;
  cursor: pointer;
}

#rightSection .welcomeBar .rightBlock .dropdownsColumn .formField ul li:hover {
  background: rgba(243, 244, 246, 0.5);
}

#rightSection .contentSection {
  padding: 38px 48px 74px 48px;
}

@media screen and (min-width: 1368px) {
  .navIconMobile,
  .navOverlay,
  .closeResponsiveNav {
    display: none;
  }
}

@media screen and (max-width: 1367px) {
  #rightSection {
    width: 100% !important;
    margin-left: 0px !important;
  }

  #rightSection .welcomeBar,
  #rightSection .topBar,
  .contentSection {
    padding-left: 25px;
    padding-right: 25px;
  }

  #rightSection .welcomeBar .leftBlock {
    display: flex;
    gap: 10px;
  }

  .navIconMobile {
    display: block;
  }

  #navbar {
    padding: 15px;
    width: 400px;
    left: -100%;
    z-index: 9999;
  }

  .closeResponsiveNav {
    position: absolute;
    right: -20px;
    top: 27px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #00a884;
  }

  .closeResponsiveNav svg path {
    fill: #fff;
    fill-opacity: 1;
  }

  #navbar.responsiveNavActive {
    left: 0;
  }

  #navbar.responsiveNavActive ~ .navOverlay {
    visibility: visible;
    opacity: 1;
  }

  .navOverlay {
    width: 100%;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 31, 55, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
}

/* Scroll bar new design, start */

.scrollbar-new-design:hover::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f5f5f5;
}

.scrollbar-new-design::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar-new-design:hover::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar-new-design:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar-new-design:hover::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Scroll bar new design, end */

/*--Common Elements--*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
  overflow-x: hidden !important;
  background: #fff;
}

textarea,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none !important;
  cursor: pointer !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.profilePopup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.profilePopup.profilePopupActive {
  opacity: 1;
  visibility: visible;
}

.profilePopup.profilePopupActive .profilePopupInner {
  right: 50px;
}

.profilePopup .profilePopupInner {
  position: absolute;
  top: 80px;
  right: -100%;
  width: 400px;
  z-index: 99;
  padding: 10px;
  background: #ffffff;
  border: 1px solid rgba(52, 61, 86, 0.04);
  box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
  border-radius: 10px;
  z-index: 999;
  transition: 0.5s all ease;
}

.profilePopup .profilePopupInner .profilePopupClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.profilePopup .profilePopupInner .profilePopupClose:hover {
  background: rgba(0, 168, 132, 0.3);
}

.profilePopup .profilePopupInner .profilePopupClose:hover svg path {
  fill: #00a884;
  fill-opacity: 1;
}

.profilePopup .profilePopupTop {
  background: #ffffff;
  border: 1px solid #eaebee;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profilePopup .profilePopupTop .userDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profilePopup .profilePopupTop .userDetail h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #363f57;
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profilePopup .profilePopupTop .userDetail h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #363f57;
}

.profilePopup .profilePopupBottom ul {
  display: flex;
  flex-direction: column;
}

.profilePopup .profilePopupBottom ul li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 8px;
  border-radius: 12px;
  min-height: 45px;
  align-items: center;
}

.profilePopup .profilePopupBottom ul li svg path {
  fill: #363f57;
  fill-opacity: 0.5;
}

.profilePopup .profilePopupBottom ul li:hover svg path {
  fill: #00a884;
  fill-opacity: 1;
}

.profilePopup .profilePopupBottom ul li:hover {
  cursor: pointer;
  background: rgba(243, 244, 246, 0.7);
}

.profilePopup .profilePopupOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 23, 41, 0.5);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.profilePopup.profilePopupActive .profilePopupOverlay {
  opacity: 1;
  visibility: visible;
}

/*form header navbar drodowns*/
.dropdown-maxh-300 ul {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*For smart scroll bar*/
.dropdown-maxh-300 ul::-webkit-scrollbar,
#navbar nav::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/*Customized DropDown*/
.dropZone {
  width: 100%;
  height: 125px;
  padding: 2rem;
  text-align: center;
  background: rgba(243, 244, 244, 0.24);
  border: 1px dashed #eaebee;
  border-radius: 8px;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: -1px;
    line-height: 25px;
    color: #343d56;
    span {
      color: #00a884;
    }
  }
  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(54, 63, 87, 0.5);
  }
}
.fileUploaded {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: rgba(243, 244, 244, 0.24);
  border: 1px solid #eaebee;
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  margin: 15px 0 30px 0 ;
  .deleteIcon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    color: #00a884;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #e4cac9;
      color: #df5753;
    }
  }
  h3 {
    padding-top: 0.5rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #363f57;
  }
}
.progessBlock {
  margin-top: 15px;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #363f57;
    margin-bottom: 4px;
  }
}

/*Customized Input*/

.formField {
  &::placeholder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(54, 63, 87, 0.5);
  }
  .errorText {
    margin-top: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #df5753;

  }
  .customInput input:focus ~ .floating-label,
  .customInput input:not(:focus):valid ~ .floating-label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: rgba(87, 74, 54, 0.5);
    top: 8px;
    left: 15px;
    opacity: 1;
  }
  .customInput .floating-label {
    position: absolute;
    pointer-events: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(54, 63, 87, 0.5);
    top: 18px;
    left: 15px;
    transition: 0.2s ease all;
  }
  .customInput {
    position: relative;
    width: 100%;
  }
  .customInput .inputText {
    width: 100%;
    height: 60px;
  }

  .customInput {
    display: flex;
    flex-direction: column;

    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      margin-left: 20px;
      color: rgba(54, 63, 87, 0.5);
      margin-bottom: -20px;
    }

    input {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding-top: 20px;
      height: 60px;
      background: rgba(243, 244, 244, 0.24);
      border: 1px solid #eaebee;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-left: 15px;
      &:hover {
        border-color: #00a884;
      }
    }

    .error {
      border-color: #df5753;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(223, 87, 83, 0.1);
      -moz-box-shadow: 0px 0px 0px 3px rgba (223, 87, 83, 0.1);
      box-shadow: 0px 0px 0px 3px rgba(223, 87, 83, 0.1);
    }
    input:focus {
      border-color: #00a884;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    }
  }
}
// sorting Icon
.sortingIcons {
  display: flex;
  cursor: pointer;
  .icons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    fa-icon {
      font-size: small;
      color: #c2c2c2;
    }
    .topIcon {
      margin-bottom: -23px;
    }
  }
}
/*Customized popup*/

.modal {
  border: none;
  .modal-header {
    background: rgba(243, 244, 246, 0.5);
    backdrop-filter: blur(32.5px);
    border-radius: 9px 9px 0px 0px;
    border: none;
    h1 {
      margin-left: 20px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #001f37;
    }
    .icon {
      display: flex;
      height: 20px;
      cursor: pointer;
      padding: 10px;
      align-items: center;
      color: #5f6983;
      border-radius: 8px;
      &:hover {
        background-color: rgba(0, 168, 132, 0.2);
        color: #00a884;
      }
    }
  }
  .modal-body {
    padding: 20px 34px;
  }
  .modal-footer {
    border: none;
    padding: 0px 34px 20px 34px;
    .customButton {
      height: 45px;
      padding: 0 17px;
      background: #00a884;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      color: #ffffff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
    .cancelButton {
      height: 45px;
      padding: 0 17px;
      background-color: white;
      color: #031926;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #343d56;
      border-radius: 8px;
      margin-right: 5px;
      &:hover {
        border-color: #00a884;
        color: rgb(238, 118, 118);
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      }
    }
  }
}
/*Customized button*/

.customButton {
  height: 50px;
  padding: 0 17px;
  background: #00a884;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.cancelButton {
  height: 45px;
  padding: 0 17px;
  background-color: white;
  color: #031926;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #343d56;
  border-radius: 8px;
  margin-right: 5px;
  &:hover {
    border-color: #00a884;
    color: rgb(238, 118, 118);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  }
}
/*Customized datePicker*/
.customDateInput {
  [type="date"] {
    background: rgba(243, 244, 244, 0.24) url(./assets/images/calander.svg) 97%
      50% no-repeat;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    color: rgba(54, 63, 87, 0.5);
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  [type="date"]::-webkit-datetime {
    width: 300px;
  }

  [type="date"]::-webkit-calendar-picker {
    width: 1000px;
  }

  input {
    padding-right: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    height: 60px;
    background: rgba(243, 244, 244, 0.24);
    border: 1px solid #eaebee;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    &:hover {
      border-color: #00a884;
    }
  }
  input:focus {
    border-color: #00a884;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  }
}

/* Delete Icon*/
.deleteIcon {
  width: 40px;
  height: 40px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f6983;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #e4cac9;
    color: #df5753;
  }
}

/*Customized button*/

.customButton {
  height: 50px;
  padding: 0 17px;
  background: #00a884;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.cancelButton {
  height: 45px;
  padding: 0 17px;
  background-color: white;
  color: #031926;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #343d56;
  border-radius: 8px;
  margin-right: 5px;
  &:hover {
    border-color: #00a884;
    color: rgb(238, 118, 118);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  }
}