<div class="tabs">
  <div
    class="tabsElement"
    [ngClass]="{ activeTab: tab == '/sponsor/study_center/study_team/study_contact' }"
    (click)="setTab('/sponsor/study_center/study_team/study_contact')"
  >
    <p>Study Contact</p>
  </div>
  <div
    class="tabsElement"
    [ngClass]="{ activeTab: tab == '/sponsor/study_center/study_team/site' }"
    (click)="setTab('/sponsor/study_center/study_team/site')"
  >
    <p>Site</p>
  </div>
  <div
    class="tabsElement"
    [ngClass]="{ activeTab: tab == '/sponsor/study_center/study_team/my_site' }"
    (click)="setTab('/sponsor/study_center/study_team/my_site')"
  >
    <p>My Site</p>
  </div>
</div>
<router-outlet></router-outlet>
