.dropdownsColumn ~ ul {
    display: flex;
    align-items: center;
  
    margin-bottom: 0px;
  }
  
  .dropdownsColumn ~ ul li a {
    display: flex;
    align-items: center;
    width: 48px;
    height: 45px;
    border-radius: 5px;
    justify-content: center;
  }
  
  .dropdownsColumn ~ ul li a:hover {
    background: rgba(0, 168, 132, 0.12);
  }
  
  .dropdownsColumn ~ ul li a:hover svg path {
    fill: rgba(0, 168, 132, 1);
    fill-opacity: 1;
  }
  
  .dropdownsColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .dropdownsColumn .formField {
    position: relative;
    width: 100%;
  }
  
  .dropdownsColumn .formField .customDropInput {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    height: 60px;
    background: rgba(243, 244, 244, 0.24);
    border: 1px solid #eaebee;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    padding-left: 15px;
    select {
      opacity: 0;
      option {
        opacity: 0;
      }
    }
  }
  
  .dropdownsColumn .formField .customDropInput.active {
    border-color: #00a884;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: rgba(52, 61, 86, 0.5);
      margin-top: -20px;
    }
  }
  .dropdownsColumn .formField .customDropInput .span.checkActive {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: rgba(52, 61, 86, 0.5);
    margin-top: -20px;
  }
  .dropdownsColumn .formField .customDropInput label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #343d56;
    opacity: 0.5;
    margin: 0;
    position: absolute;
    left: 10px;
    top: 3px;
  }
  
  .customDropInput:after {
    position: absolute;
    content: "";
  
    background: url(../../../../assets/images/dropdownArror.svg) no-repeat;
    width: 9px;
    height: 5px;
    background-size: cover;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
  }
  
  .dropdownsColumn .formField .customDropInput.active:after {
    transform: translateY(-50%) rotate(-180deg);
  }
  
  .dropdownsColumn .formField .customDropInput h3 {
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #363f57;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    margin: 0;
    margin-top: 20px;
    position: absolute;
  }
  .dropdownsColumn .formField .customDropInput span {
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(54, 63, 87, 0.5);
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    margin: 0;
    position: absolute;
  }
  .dropdownsColumn .formField .customDropInput:hover {
    border-color: #00a884;
  }
  
  .dropdownsColumn .formField ul {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
    border-radius: 8px;
    padding: 8px;
    display: flex;
  
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50px;
    display: none;
    z-index: 99;
  }
  
  .dropdownsColumn .formField .customDropInput.active ~ ul {
    display: flex;
  }
  .dropdownsColumn .formField ul li {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    padding: 10px 8px 10px 8px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #343d56;
    cursor: pointer;
  }
  
  .dropdownsColumn .formField ul li:hover {
    background: rgba(243, 244, 246, 0.5);
  }
  
  