<app-header></app-header>
<section id="innerBanner">
    <div class="container">
      <h2>Employer Registration</h2>
    </div>
  </section>

  <section id="jobPost">
    <div class="container">
        <div class="row">
            <div class="leftCol">
                <form>
                    <div class="formBlock">
                        <h2> Post Job</h2>
                            <!--Form Field Main Block-->
                            <div class="formBlockInner">
                                <!--Field-->

                                <div class="formField radioBtns">
                                    <label class="mainLabel">Gender</label>
                    
                                    <div class="customInput">
                                      <label class="containerRadio">
                                        Male
                                        <input type="radio" name="Male" id="Male" value="Male">
                                        <span class="checkmark"></span>
                                      </label>
                    
                                      <label class="containerRadio">
                                        Female
                                        <input type="radio" name="Female" value="Female" id="Female" >
                                        <span class="checkmark"></span>
                                      </label>
                                     
                                    </div>
                                  </div>
                                
                                <div class="formField">
                                   
                                    <div class="customInput">
                                        <input type="text" name="fnamefield" id="mName" placeholder="Your Name"  />
                                    </div>
                                </div>
                                <div class="formField">
                                    <div class="customInput">
                                        <input type="Number" name="Number" id="Number" placeholder="Contact Number"  />
                                    </div>
                                </div>
                                <div class="formField">
                                    <div class="customInput">
                                        <input type="text" name="District" id="District" placeholder="District"  />
                                    </div>
                                </div>
                                <div class="formField">
                                    <div class="customInput">
                                        <input type="email" name="email" id="email" placeholder="Email"  />
                                    </div>
                                </div>
                                <div class="formField mb-3">
                                    <div class="customInput">
                                        <input type="text" name="Referral" id="Referral" placeholder="Referral"  />
                                    </div>
                                </div>
                            </div>  

                            <h2> NUMBER OF PERSON TO BE SERVED</h2>

                            <div class="formField">
                                <label class="mainLabel">Number of adult</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Number of New born baby (0-1)</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Number of elderly</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Number of disabled person</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Number of dog</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField mb-3">
                                <label class="mainLabel">Number of cat</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>

                            <h2> JOB REQUIREMENT</h2>

                            <div class="formField">
                                <div class="customInput">
                                    <input type="email" name="email" id="email" placeholder="Size of house"  />
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Number of bedroom(s)</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formField">
                                <label class="mainLabel">Does the domestic helper have her/his own room</label>
                                <div class="customInput">
                                    <select type="text" name="fnamefield" id="mName" placeholder="Your Name"  >
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>

                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Holiday arrangements for domestic helper</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Sunday off
                                    <input type="checkbox" value="Sunday off" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Saturday off
                                    <input type="checkbox" value=" Saturday off" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Weekend off
                                    <input type="checkbox" value=" Weekend off" >
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </div>

                              <div class="formField checkboxBtns">
                                <label class="mainLabel">Job duties (Care)</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Household
                                    <input type="checkbox" value="Household" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Baby
                                    <input type="checkbox" value=" Baby" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Child
                                    <input type="checkbox" value="Child" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Elderly
                                    <input type="checkbox" value="Elderly" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Disabled
                                    <input type="checkbox" value="Disabled" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Pet
                                    <input type="checkbox" value="Pet" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Ironing
                                    <input type="checkbox" value="Ironing" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Marketing
                                    <input type="checkbox" value="Marketing" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Cooking
                                    <input type="checkbox" value="Cooking" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Hand Washing
                                    <input type="checkbox" value="Hand Washing" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Gardening
                                    <input type="checkbox" value="Gardening" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Car washing
                                    <input type="checkbox" value="Car washing" >
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </div>

                            <div class="formField mb-3">
                                <label class="mainLabel">Special requirements</label>
                                <div class="customInput">
                                    <textarea type="text" name="text" rows="6"  placeholder=""  ></textarea>
                                </div>
                            </div>

                            <h2> REQUIREMENTS FOR HIRING DOMESTIC HELPERS</h2>

                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Category</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Oversea
                                    <input type="checkbox" value="Oversea" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Finished contrat
                                    <input type="checkbox" value=" Finished contrat" >
                                    <span class="checkmark"></span>
                                  </label>
                                 
                                </div>
                            </div>
                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Nationality</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Indonesian
                                    <input type="checkbox" value="Indonesian" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Filipino
                                    <input type="checkbox" value=" Filipino" >
                                    <span class="checkmark"></span>
                                  </label>
                                 
                                </div>
                            </div>
                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Marital status</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Single
                                    <input type="checkbox" value="Single" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Married
                                    <input type="checkbox" value=" Married" >
                                    <span class="checkmark"></span>
                                  </label>
                                 
                                </div>
                            </div>

                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Marital status</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Single
                                    <input type="checkbox" value="Single" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Married
                                    <input type="checkbox" value=" Married" >
                                    <span class="checkmark"></span>
                                  </label>
                                 
                                </div>
                            </div>
                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Spoken language</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Cantonese
                                    <input type="checkbox" value="Cantonese" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    English
                                    <input type="checkbox" value=" English" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Mandarin
                                    <input type="checkbox" value=" Mandarin" >
                                    <span class="checkmark"></span>
                                  </label>
                                 
                                </div>
                            </div>
                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Religion</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Christian
                                    <input type="checkbox" value="Christian" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Catholicism
                                    <input type="checkbox" value=" Catholicism" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Islam
                                    <input type="checkbox" value=" Islam" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Buddhism
                                    <input type="checkbox" value=" Buddhism" >
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                            </div>
                            <div class="formField checkboxBtns">
                                <label class="mainLabel">Education level</label>
                  
                                <div class="customInput">
                                  <label class="containerCheckbox">
                                    Primary school
                                    <input type="checkbox" value="Primary school" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Junior high school
                                    <input type="checkbox" value=" Junior high school" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    Senior High school
                                    <input type="checkbox" value=" Senior High school" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    College
                                    <input type="checkbox" value=" College" >
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="containerCheckbox">
                                    University
                                    <input type="checkbox" value=" University" >
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                            </div>

                    </div>
                    <div class="btnsBlock">
                      <button class="nextBtn" >Submit</button>
                    </div>
                </form>
            </div>
            <div class="rightCol">
              <form>
                <div class="formBlock">
                    <h2>Search</h2>
                    <div class="formBlockInner">
                      <!--Field-->
                      <div class="formField">
                          <div class="customInput">
                              <input type="text" name="mNumber" id="mNumber" placeholder="Maid Number"  />
                          </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Type</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Oversea
                            <input type="checkbox" value="Oversea" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Local
                            <input type="checkbox" value="Local" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Nationality</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Indonesian
                            <input type="checkbox" value="Indonesian" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Filipino
                            <input type="checkbox" value="Filipino" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Marital</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Single
                            <input type="checkbox" value="Single" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Married
                            <input type="checkbox" value="Married" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Age</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            21-30
                            <input type="checkbox" value="21-30" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            31-40
                            <input type="checkbox" value="31-40" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            41 or above
                            <input type="checkbox" value="41 or above" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Experience</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            HK
                            <input type="checkbox" value="HK" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Singapore
                            <input type="checkbox" value="Singapore" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Taiwan
                            <input type="checkbox" value="Taiwan" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Malaysia
                            <input type="checkbox" value="Malaysia" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Middle East
                            <input type="checkbox" value="Middle East" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Saudi Arabia
                            <input type="checkbox" value="Saudi Arabia" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Other
                            <input type="checkbox" value="Other" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Language</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Cantonese
                            <input type="checkbox" value="Cantonese" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            English
                            <input type="checkbox" value="English" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Mandarin
                            <input type="checkbox" value="Mandarin" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Religion</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Christian
                            <input type="checkbox" value="Christian" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Catholic
                            <input type="checkbox" value="Catholic" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Islam
                            <input type="checkbox" value="Islam" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Buddhism
                            <input type="checkbox" value="Buddhism" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Other
                            <input type="checkbox" value="Other" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="formField checkboxBtns">
                        <label class="mainLabel">Education</label>
          
                        <div class="customInput">
                          <label class="containerCheckbox">
                            Primary
                            <input type="checkbox" value="Primary" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Junior High
                            <input type="checkbox" value="Junior High" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            Senior High
                            <input type="checkbox" value="Senior High" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            College
                            <input type="checkbox" value="College" >
                            <span class="checkmark"></span>
                          </label>
                          <label class="containerCheckbox">
                            University
                            <input type="checkbox" value="University" >
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="btnsBlock">
                  <button class="nextBtn" >Search</button>
                </div>
              </form>    
            </div>
        </div>
    </div>

  </section>

<app-footer></app-footer>
