$color_1: #031926;
$color_2: rgba(52, 61, 86, 0.5);
$color_3: #ffffff;
$color_4: #001729;
$color_5: #363f57;
$color_6: #00a884;
$color_7: #5f6983;
$color_8: #ff7597;
$border-color_1: #00a884;
$border-color_2: rgba(234, 235, 238, 1);
$bg-color: #ededed;

.headBlock {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  min-height: 45px;
  padding: 15px;
  padding-top: 22px;
  padding-left: 21px;
  margin-bottom: 16px;
  margin-top: 23px;
}
.tableBlock {
  display: flex;
  border: 1px solid rgba(52, 61, 86, 0.04);
  box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
  border-radius: 8px;
  width: 100%;

  .rightblock {
    width: 20% !important;
    display: flex;
    justify-content: center;

    .useful {
      width: 167px;
      height: 124px;
      justify-content: center;
      background: #fefefe;
      box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
      border-radius: 8px;
      margin-top: 29px;
      .heading {
        background-color: #ededed;
        height: 45px;
        border-radius: 8px 8px 0px 0px;
        padding: 10px 15px;
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: #000000;
        }
      }
      .link {
        padding: 15px;
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #00a884;
        }
      }
    }
  }

  table {
    width: 100%;
    border-right: 1px solid #eaebee;
  }

  tbody {
    td {
      &:first-child {
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        .action {
          display: none;
        }
      }

      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: $color_7;
      height: 125px;
      border-bottom: 1px solid #eaebee;

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #5f6983;
        margin: 0px;
        span {
          font-weight: 500;
        }
      }
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5f6983;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 168, 132, 0.2);
        color: #00a884;
        svg {
          path {
            fill: #00a884;
          }
        }
      }
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0px;
      }
    }

    &:hover {
      td {
        background: rgba(243, 244, 246, 0.5);
      }
    }
  }
}

.paginationBlock {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaebee;
  align-items: center;
  min-height: 90px;
  padding: 0 23px;
  width: 100%;
  .paginationLeft {
    h3 {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $color_2;
    }
  }

  .paginationRight {
    display: flex;
    gap: 10px;
  }

  .pageNumbers {
    position: relative;
    width: 60px;

    .customInput {
      position: relative;
      height: 50px;
      padding-top: 7px;
      margin-top: 4px;
      background: #ffffff;
      border: 1px solid #eaebee;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:after {
        position: absolute;
        content: "";
        background: url(../../../../../../assets/images/dashboard/dropdownArror.svg)
          no-repeat;
        width: 9px;
        height: 5px;
        background-size: cover;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
      }

      h3 {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color_7;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        pointer-events: none;
        min-height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .customInput.active {
      border-color: $border-color_1;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    ul {
      background: #ffffff;
      box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
      border-radius: 8px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      bottom: 70px;
      display: none;
      z-index: 99;

      li {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 10px 8px 10px 8px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: $color_7;
        cursor: pointer;

        &:hover {
          background: rgba(243, 244, 246, 0.5);
        }
      }
    }

    .customInput.active ~ ul {
      display: flex;
    }
  }

  .pageArrows {
    ul {
      display: flex;
      gap: 12px;

      li {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(234, 235, 238, 1);
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          border-color: $border-color_1;

          svg {
            path {
              fill: #00a884;
              fill-opacity: 1;
            }
          }
        }
      }

      li.active {
        border-color: $border-color_1;
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

        svg {
          path {
            fill: #00a884;
            fill-opacity: 1;
          }
        }
      }

      li.disabled {
        border-color: $border-color_2;

        &:hover {
          border-color: $border-color_2;

          svg {
            path {
              fill: #363f57;
              fill-opacity: 0.5;
            }
          }
        }
        customButton svg {
          path {
            fill: #363f57;
            fill-opacity: 0.5;
          }
        }
      }
    }
  }
}
h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #001729;
}

@media screen and (max-width: 768px) {
  .btn-group {
    display: block;
  }
  .addSponsordBlock {
    .desktopScreen {
      display: none;
    }
    .mobileScreen {
      display: block;
    }
    .title {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding-top: 6px;
      padding-left: 10px;
      background: #001729;
      border-radius: 8px;
      backdrop-filter: blur(32.5px);
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
      }
    }
    .icon {
      display: flex;
      height: 50px;
      cursor: pointer;
      padding: 10px;
      align-items: center;
      color: #5f6983;
      border-radius: 8px;
      &:hover {
        background-color: rgba(0, 168, 132, 0.2);
        color: #00a884;
      }
    }

    .addButton {
      float: right;
    }
    .floating-label {
      margin-top: -4px;
    }
    .inputText {
      height: 50px;
    }
  }
  .tableBlock {
    .headBlock {
      padding-left: 3px;
    }
    table {
      display: flex;
      flex-direction: column;
      height: 660px;

      thead {
        display: none;
      }
      tbody {
        display: flex;
        flex-direction: column;
        gap: 30px;
        tr {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          border: 1px solid rgba(52, 61, 86, 0.04) !important;
          border-radius: 8px !important;
          width: 100% !important;
          position: relative;

          td {
            display: flex;
            align-items: center;
            padding: 0 0 0 50% !important;
            position: relative;
            &:before {
              position: absolute;
              content: attr(alt);
              left: 30px;
              top: 50%;
              transform: translateY(-50%);
              font-weight: 700;
            }
            &:first-child {
              padding: 0px 30px !important;
              display: flex;
              justify-content: space-between;
              background: #eaebee;
              border-radius: 8px 8px 0 0;
              .action {
                display: block;
              }
              &:before {
                display: none;
              }
            }

            &:last-child {
              display: none;
            }
          }
        }
      }
    }
    table::-webkit-scrollbar {
      display: none;
    }
    border: 0px;
    box-shadow: none;
    padding: 0px;
  }
}
.dropdownsColumn ~ ul li a {
  display: flex;
  align-items: center;
  width: 48px;
  height: 45px;
  border-radius: 5px;
  justify-content: center;
}

.dropdownsColumn ~ ul li a:hover {
  background: rgba(0, 168, 132, 0.12);
}

.dropdownsColumn ~ ul li a:hover svg path {
  fill: rgba(0, 168, 132, 1);
  fill-opacity: 1;
}

.dropdownsColumn {
  display: flex;
  width: 196px;

  flex-direction: row;
  align-items: center;
}

.dropdownsColumn .formField {
  position: relative;
  width: 100%;
}

.dropdownsColumn .formField .customDropInput {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  height: 45px;
  background: rgba(243, 244, 244, 0.24);
  border: 1px solid #eaebee;
  border-radius: 8px;
  display: flex;

  flex-direction: row;
  align-items: center;

  padding-left: 15px;
}

.dropdownsColumn .formField .customDropInput.active {
  border-color: #00a884;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: rgba(52, 61, 86, 0.5);
    margin-top: -20px;
  }
}
.dropdownsColumn .formField .customDropInput .span.checkActive {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: rgba(52, 61, 86, 0.5);
  margin-top: -20px;
}
.dropdownsColumn .formField .customDropInput label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #343d56;
  opacity: 0.5;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 3px;
}

.customDropInput:after {
  position: absolute;
  content: "";

  background: url(../../../../../../assets/images/dropdownArror.svg) no-repeat;
  width: 9px;
  height: 5px;
  background-size: cover;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

.dropdownsColumn .formField .customDropInput.active:after {
  transform: translateY(-50%) rotate(-180deg);
}

.dropdownsColumn .formField .customDropInput h3 {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #363f57;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  margin: 0;
  margin-top: 20px;
  position: absolute;
}
.dropdownsColumn .formField .customDropInput span {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(54, 63, 87, 0.5);
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  margin: 0;
  position: absolute;
}
.dropdownsColumn .formField .customDropInput:hover {
  border-color: #00a884;
}

.dropdownsColumn .formField ul {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
  border-radius: 8px;
  padding: 8px;
  display: flex;

  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50px;
  display: none;
  z-index: 99;
}

.dropdownsColumn .formField .customDropInput.active ~ ul {
  display: flex;
}
.dropdownsColumn .formField ul li {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  padding: 10px 8px 10px 8px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #343d56;
  cursor: pointer;
}

.dropdownsColumn .formField ul li:hover {
  background: rgba(243, 244, 246, 0.5);
}
.customDropArrow:after {
  position: absolute;
  content: "";
  background: url(../../../../../../assets/images/dropDownArrowWhite.svg) no-repeat;
  width: 9px;
  height: 5px;
  background-size: cover;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
.customDropArrow.active:after {
  transform: translateY(-50%) rotate(-180deg);
}
