.details {
  display: flex;
  text-align: center;
  margin: 30px 0px 10px 0px;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #5f6983;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  .customButton {
    width: 165px;
    height: 45px;
    margin-right: 20px;
  }
}
