@mixin dflex($fdir, $aitems, $jcontent) {
    display:flex;
    flex-direction:$fdir;
    align-items:$aitems;
    justify-content:$jcontent;
}

ul, ol {
    margin:0;
    padding:0;
  }

.container {
    width:100%;
    max-width:1170px;
    min-width:1170px;
    margin:0 auto;
}

footer {
    background: #00A651;
    padding:80px 0px;

    .container {
        @include dflex(row, center, center);
        gap:70px;

        .colLeft {
            width:35%;
            @include dflex(column, flex-start, center);

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                color:rgba(255, 255, 255, .6);
                margin:20px 0px;
            }

            ul {
                @include dflex(row, center, flex-start);
                gap:20px;

                li {
                    list-style-type:none;
                }
            }
        }

        .colRight {
            width:65%;
            @include dflex(row, flex-start, flex-end);
            gap:50px;

            h3 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: #FFFFFF;
                margin-bottom:20px;
            }

            ul {
                @include dflex(column, flex-start, center);

                li {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    color:rgba(255, 255, 255, .6);
                    list-style-type:none;

                    a {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 28px;
                        color:rgba(255, 255, 255, .6);
                        text-decoration:none;
                    }
                }
            }

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color:rgba(255, 255, 255, .6);
                mix-blend-mode: normal;
                margin-top:50px;
            }
        }
    }
}