<!--<div  class="pcoded-main-container">-->
<!--  <div class="pcoded-wrapper">-->
<!--    <div class="pcoded-content">-->
<!--      <div class="pcoded-inner-content">-->
<!--        <div class="main-body">-->
<!--          <div class="page-wrapper">-->
<!--            <div class="container" style="margin: 0px !important;padding: 0px !important;">-->
<!--              <div class="row login-container" style="padding: 170px;">-->
<!--                <div class="col-md-5 bg-white login-section custom-width">-->
<!--                      <div class="row">-->
<!--                        <div class="col-sm-12 text-center image-container mb-5">-->
<!--                          <img src="../../../../assets/images/logo/logo1.png" class="com_logo"/>-->
<!--                          <h4 class="text-center">Login</h4>-->
<!--                        </div>-->
<!--                        <div class="col-sm-12 mb-5">-->
<!--                          <form class="formStyle" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">-->
<!--                            <div class="input-group mb-5 mt-5">-->
<!--                              <div class="rightIconFld">-->
<!--                                <input [(ngModel)]="obj.email" type="email" name="email" class="form-control lineFld" placeholder="Email" id="emailFld" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">-->
<!--                                &lt;!&ndash;<span class="valIcon"><i class="fas fa-check-circle"></i></span>&ndash;&gt;-->
<!--                                <span class="valIcon"><img src="../../../../assets/images/icons/Green-Tick.png" alt="..." width="20"></span>-->
<!--                                <span *ngIf="email.errors != null && f.submitted && email.errors.required" class="error"></span>-->
<!--                                <span *ngIf="email.errors != null && f.submitted && email.errors.pattern" class="error"></span>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="input-group mt-5 mb-5">-->
<!--                              <div class="rightIconFld">-->
<!--                                <input type="password" [(ngModel)]="obj.password" name="password" class="form-control lineFld" placeholder="Password" id="pwdFld" #password="ngModel" required minlength="6">-->
<!--                                &lt;!&ndash;<span class="valIcon"><i class="fas fa-check-circle"></i></span>&ndash;&gt;-->
<!--                                <span class="valIcon"><img src="../../../../assets/images/icons/Green-Tick.png" alt="..." width="20"></span>-->
<!--                                <span *ngIf="password.errors != null &&  f.submitted && password.errors.required" class="error"></span>-->
<!--                                <span *ngIf="password.errors != null &&  f.submitted && password.errors.minlength" class="error"></span>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="form-group text-left">-->
<!--                              <div class="checkbox">-->
<!--                                <input type="checkbox" id="checkbox-w-fill-1" [(ngModel)]="obj.rememberMe" name="rememberMe">-->
<!--                                <label for="checkbox-w-fill-1" class="cr">Remember Me</label>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-12">-->
<!--                              <button class="btn btn-primary col-sm-12" type="button" *ngIf="isloader">-->
<!--                                <span class="spinner-border spinner-border-sm" role="status"></span>-->
<!--                                Loading...-->
<!--                              </button>-->
<!--                              <button type="submit" class="btn btn-primary shadow-2 col-sm-12" *ngIf="!isloader">Login</button>-->
<!--                            </div>-->
<!--                          </form>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row">-->
<!--                        <div class="col-sm-6 text-center">-->
<!--                          <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/forgotpassword']">Reset</a></p>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 text-center">-->
<!--                          <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                </div>-->
<!--                <div class="col-md-7 custom-width"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- <h3 class="mb-4"><i class="feather icon-unlock auth-icon"></i></h3>
  <form class="formStyle" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
    <div class="input-group mb-3">
      <div class="rightIconFld">
        <input [(ngModel)]="obj.email" type="email" name="email" class="form-control lineFld" placeholder="Email" id="emailFld" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"> -->
<!--<span class="valIcon"><i class="fas fa-check-circle"></i></span>-->
<!-- <span class="valIcon"><img src="../../../../assets/images/icons/Green-Tick.png" alt="..." width="20"></span>
        <span *ngIf="email.errors != null && f.submitted && email.errors.required" class="error"></span>
        <span *ngIf="email.errors != null && f.submitted && email.errors.pattern" class="error"></span>
      </div>
    </div>
    <div class="input-group mb-4">
      <div class="rightIconFld">
        <input type="password" [(ngModel)]="obj.password" name="password" class="form-control lineFld" placeholder="Password" id="pwdFld" #password="ngModel" required minlength="6"> -->
<!--<span class="valIcon"><i class="fas fa-check-circle"></i></span>-->
<!-- <span class="valIcon"><img src="../../../../assets/images/icons/Green-Tick.png" alt="..." width="20"></span>
        <span *ngIf="password.errors != null &&  f.submitted && password.errors.required" class="error"></span>
        <span *ngIf="password.errors != null &&  f.submitted && password.errors.minlength" class="error"></span>
      </div>
    </div>
    <div class="form-group text-left">
      <div class="checkbox">
        <input type="checkbox" id="checkbox-w-fill-1" [(ngModel)]="obj.rememberMe" name="rememberMe">
        <label for="checkbox-w-fill-1" class="cr">Remember Me</label>
      </div>
    </div>
    <button class="btn btn-primary mb-4" type="button" *ngIf="isloader">
      <span class="spinner-border spinner-border-sm" role="status"></span>
      Loading...
    </button>
    <button type="submit" class="btn btn-primary shadow-2 mb-4" *ngIf="!isloader">Login</button>
  </form>
  <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/forgotpassword']">Reset</a></p>
  <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p> -->
<!--<div class="l-right-text">
  <h2>Sign In Here</h2>

</div>
<div class="l-panel">
  <form class="formStyle" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
    <div class="floating-ctrl">
      <input [(ngModel)]="obj.email" type="email" name="email" class="textfield" required  id="emailFld" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
        <span class="">Email</span>
      <label *ngIf="email.errors != null && f.submitted && email.errors.required" class="error"></label>
      <label *ngIf="email.errors != null && f.submitted && email.errors.pattern" class="error"></label>
    </div>
    <div class="floating-ctrl">
      <input type="password" [(ngModel)]="obj.password" name="password" class="textfield" required  id="pwdFld" #password="ngModel" required minlength="6">
      <span>Password</span>
      <label *ngIf="password.errors != null &&  f.submitted && password.errors.required" class="error"></label>
      <label *ngIf="password.errors != null &&  f.submitted && password.errors.minlength" class="error"></label>
    </div>
    <div style="margin-bottom: 12px; display: flex; justify-content: space-between; font-size: 13px;">
      <div class="checkbox" style="padding: 0;">
        <input type="checkbox" id="checkbox-w-fill-1" [(ngModel)]="obj.rememberMe" name="rememberMe">
        <label for="checkbox-w-fill-1" class="cr">Remember Me</label>
      </div>
      <a [routerLink]="['/forgotpassword']">Forgot Password</a>
    </div>
    <div class="login-btn">
      <button type="submit" *ngIf="!isloader">Sign In</button>
      <button type="button" *ngIf="isloader" disabled>
        <span class="spinner-border spinner-border-sm" role="status"></span>
        Loading...
      </button>
    </div>
  </form>
  <p class="sign-up mt-3 text-muted text-center">Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p>
</div>-->


<!--<header class="login-area">
  <div class="my-container">
    <div class="main-login-area">
      <div class="login-img">
        <div class="logo-area">
          <a href="#"><img src="../../../../assets/images/logo.png" alt="img">--><!--<img src="../assets/images/logo.png" alt="img">--><!--</a>
        </div>
        <div class="banner-area">
          <img src="../../../../assets/images/login.png" alt="img">-->
          <!--<img src="../assets/images/login.png" alt="img">-->
        <!--</div>
      </div>
      <div class="form-area">
        <div class="form-heading">
          <h2>Optimize & Manage</h2>
          <p>Your Clinical Trials</p>
        </div>
        <div class="form-title">
          <p>Sign In</p>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
          <input type="email" name="email" [(ngModel)]="obj.email" placeholder="EMAIL" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
          <input type="password" name="password" [(ngModel)]="obj.password" placeholder="PASSWORD">
          <div class="check-forget">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="obj.rememberMe">
              <label class="form-check-label" for="flexCheckDefault">
                Remember Me
              </label>
            </div>
            <a [routerLink]="['/forgotpassword']">Forgot Password</a>
          </div>
          <div class="button">
            <input class="btn1" type="submit" value="SIGN IN" *ngIf="!isloader">
            <button type="button" class="btn1" *ngIf="isloader" disabled>
              <span class="spinner-border spinner-border-sm" role="status"></span>
              Loading...
            </button>
          </div>
        </form>
        <div class="form-footer">
          <p>Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</header>-->
<!-- login area end -->



<section id="loginWrapper">
  <aside class="leftSection">
    <div class="logoBlock">
      <!--<img src="assets/img/cosmosLogo.svg" alt="YanSingh" />-->
      <img src="../../../../assets/images/login/cosmosLogo.svg" alt="YanSingh" />
    </div>
    <div class="imgBlock">
      <img src="../../../../assets/images/login/loginImage.svg" alt="Login Image" />
    </div>
  </aside>
  <aside class="rightSection scrollbar-new-design">
    <h2>Optimize & Manage <span>Your Clinical Trials</span></h2>
    <h3>Sign In</h3>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
      <div class="formField" tabindex="0">
        <div class="customInput" [ngClass]="{'customFilled':obj.email, 'showError':emailFieldError}">
          <label for="emailField">Email</label>
          <input type="text" name="emailField" id="emailField" [(ngModel)]="obj.email" (blur)="onEmailFieldBlur()" />
        </div>
        <span class="error">Please enter your email</span>
      </div>

      <div class="formField">
        <div class="customInput" [ngClass]="{'customFilled':obj.password, 'showError':passwordFieldError}">
          <label for="passwordField">Password</label>
          <input type="password" name="passwordField" id="passwordField" [(ngModel)]="obj.password" (blur)="onPasswordFieldBlur()" />
        </div>
        <span class="error">Please enter your Password</span>
      </div>

      <ul>
        <li>
          <div class="checkboxBlock">
            <label class="checkboxContainer">
              <input type="checkbox" [(ngModel)]="obj.rememberMe" name="rememberMe">
              <span class="checkmark"></span>
            </label>
            <span>Remember Me</span>
          </div>
        </li>

        <li>
          <a [routerLink]="['/forgotpassword']">Forgot Password <fa-icon [icon]="fs['faUnlockKeyhole']"></fa-icon></a>
        </li>
      </ul>

      <div class="sbtBtn">
        <input type="submit" name="Submit" *ngIf="!isloader"/>
        <input type="button" *ngIf="isloader" value="Loading...">
      </div>
    </form>


    <h5>Don't have an account? <a [routerLink]="['/register']">Sign up</a></h5>
    <h6>©2023 COSMOS, Inc. All Rights Reserved. <a href="#">Privacy Policy</a></h6>
  </aside>
</section>
