#innerBanner {
    /*background: url('../../assets/registrationBgImage.jpg') no-repeat;*/
    background: url(../../../../assets/images/maidDetailBanner.jpg) no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	@media (max-width:1200px) {
		min-height: 550px;
    }
	@media (max-width:991px) {
		min-height: 520px;
    }
	@media (max-width:767px) {
		min-height: 470px;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
		@media (max-width:767px) {
			font-size: 42px;
        	line-height: 48px;
		}
		@media (max-width:991px) {
			font-size: 48px;
        	line-height: 54px;
		}
		@media (max-width:1200px) {
			font-size: 52px;
        	line-height: 60px;
		}
	  
      }
  
      h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
}




$color_1: #DA1F26;
$color_2: #808080;
$color_3: #000;
$color_4: #000000;
$font-family_1: 'Inter';

#membersdetails {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: $color_1;
	padding-top: 60px;
}
.download-wrapper {
	text-align: right;
	.download {
		display: flex;
		align-items: center;
		justify-content: flex-end;
        @media (max-width:991px) {
            font-size: 18px;
        }
		span {
			margin-right: 12px;
		}
	}
}
.personal-details {
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border: 1px solid rgba(52, 61, 86, 0.04);
	box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
	border-radius: 8px;
	margin-top: 50px;
	margin-bottom: 80px;
    @media (max-width:767px) {
        flex-wrap: wrap;
		margin-bottom:40px;
    }
	.userimg {
		flex: 0 0 35%;
		max-width: 35%;
		width: 100%;
        @media (max-width:767px) {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
        @media (max-width:1399px) {
            > img {
                width: 100%;
                object-fit: cover !important;
                height: 100%;
            }
        }
	}
	.userDetails {
		flex: 0 0 65%;
		max-width: 65%;
		width: 100%;
		padding-left: 40px;
		padding-top: 52px;
		padding-right: 40px;
        @media (max-width:1399px) {
            padding-top: 20px;
        }
        @media (max-width:767px) {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
			padding-left: 20px;
    		padding-right: 20px;
        }
		.info {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 33px;
            @media (max-width:1199px) {
                padding-top: 15px;
            }
            .datainfo {
				flex: 0 0 49%;
				margin-bottom: 45px;
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				color: $color_2;
                @media (max-width:1199px) {
                    margin-bottom: 25px;
                }
                @media (max-width:991px) {
                    margin-bottom: 12px;
                }
                @media (max-width:767px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 15px;
                }
				&:last-child {
					margin-bottom: 0;
                    @media (max-width:767px) {
                        margin-bottom: 15px;
                    }
				}
				&:nth-last-child(2) {
					margin-bottom: 0;
                    @media (max-width:767px) {
                        margin-bottom: 15px;
                    }
				}
				>strong {
					color: $color_3;
				}
			}
		}
	}
}
h3.title {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: $color_1;
	margin: 0;
    @media (max-width:991px) {
        font-size: 18px;
        line-height: 20px;
    }
}
.family-details {
	display: flex;
	margin-top: 25px;
	margin-bottom: 50px;
    @media (max-width:991px) {
        flex-wrap: wrap;
    }
	.datainfo {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $color_2;
		margin-right: 70px;
		
        @media (max-width:991px) {
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
            margin-right: 0;
        }
		@media (max-width:575px) {
            flex: 0 0 100%;
            max-width: 100%;
			line-height: 25px;
        }
		strong {
			color: $color_4;
		}
	}
}
.table-wrapper {
	h3.title {
		margin-bottom: 16px;
		min-height: 27px;
	}
}
.other-details {
	display: flex;
	justify-content: space-between;
    @media (max-width:991px) {
        flex-wrap: wrap;
    }
}
.right-side {
	flex: 0 0 calc(50% - 40px);
	max-width: calc(50% - 40px);
	width: 100%;
    @media (max-width:991px) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
}
.left-side {
	flex: 0 0 calc(50% - 40px);
	max-width: calc(50% - 40px);
	width: 100%;
    @media (max-width:991px) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}
table.tablebox {
	>thead {
		>tr {
			>th {
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				padding: 20px 0 17px;
				text-align: center;
				color: $color_3;
				border: 1px solid #D9D9D9;
			}
		}
	}
	>tbody {
		>tr {
			>td {
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				padding: 20px 0 17px;
				text-align: center;
				color: $color_3;
				border-right: 1px solid #D9D9D9;
				&:first-child {
					text-align: left;
					padding-left: 24px;
				}
			}
		}
	}
	width: 100%;
	border: 1px solid #D9D9D9;
	background: #F2F2F2;
	height: 100%;
}
.custom-remark {
	margin-top: 50px;
	textarea.form-control {
		border: 1px solid #D9D9D9;
		resize: none;
		height: 130px;
		border-radius: 0;
	}
	h3.title {
		margin-bottom: 20px;
	}
}
.records-details {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
    @media (max-width:991px) {
        flex-wrap: wrap;
    }
	table.tablebox {
		>thead {
			>tr {
				>th {
					&:first-child {
						width: 210px;
						text-align: left;
						padding-left: 24px;
					}
				}
			}
		}
		>tbody {
			>tr {
				>td {
					&:not(:first-child) {
						background: #fff;
					}
				}
			}
		}
	}
}
.last-emp {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
    @media (max-width:991px) {
        flex-wrap: wrap;
    }
}

.gen-emp {
	table.tablebox {
		>tbody {
			>tr {
				>td {
					&:not(:first-child) {
						background: #fff;
					}
				}
			}
		}
	}
	margin: 70px 0;
}
.last-emp {
	table.tablebox {
		>tbody {
			>tr {
				>td {
					&:not(:first-child) {
						background: #fff;
					}
				}
			}
		}
	}
}
