<div class="mainBlock">
  <div class="addNewBlock">
    <div class="headBlock">
      <div class="title" *ngIf="loggedInUserType === 'SponsorUser'">
        <p>Add News</p>
        <div class="icon" *ngIf="!showForm" (click)="handleNewForm()" title="Add News" accessControl [componentId]="componentId" [buttonName]="'Add'">
          <img class="icon ms-1" src="../../../../../assets/images/studyCenter/add.svg" />
        </div>
        <div class="icon" *ngIf="showForm" (click)="handleNewForm()">
          <img class="icon ms-1" src="../../../../../assets/images/studyCenter/close.svg" />
        </div>
      </div>
      <div *ngIf="showForm">
        <form class="formStyle" name="form" (ngSubmit)="submitNews(f1)" #f1="ngForm">
          <div class="formField mb-2" style="width: 100%">
            <div class="customInput d-flex">
              <input type="text" class="inputText" name="newsTitle" [(ngModel)]="studyCenterNews.newsTitle" id="newsTitle" #newsTitle="ngModel" required
                     [ngClass]="error ? 'error': 'null'" />
              <p class="errorText" *ngIf="error">Please enter news title</p>
              <span class="floating-label"> Visit Name</span>
              <span class="star"> <fa-icon [icon]="faStarOfLife"></fa-icon></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-12 mb-2"
               style="background-color: white ;">
            <quill-editor [styles]="{
              height: '200px'
            }"
                          [modules]="modules" (onEditorCreated)="addTitleToToolbarIcons($event)" (onContentChanged)="contentValueChanged($event)">
            </quill-editor>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-2">
            <div class="dropZone">
              <input type="file" #file id="fileDropRef" accept="image/*" (change)="onFileChange($event)" />
              <svg width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M24 21.3333V2.66667C24 1.2 22.8 0 21.3333 0H2.66667C1.2 0 0 1.2 0 2.66667V21.3333C0 22.8 1.2 24 2.66667 24H21.3333C22.8 24 24 22.8 24 21.3333ZM7.86667 14.64L10.6667 18.0133L14.8 12.6933C15.0667 12.3467 15.6 12.3467 15.8667 12.7067L20.5467 18.9467C20.88 19.3867 20.56 20.0133 20.0133 20.0133H4.02667C3.46667 20.0133 3.16 19.3733 3.50667 18.9333L6.82667 14.6667C7.08 14.32 7.58667 14.3067 7.86667 14.64Z"
                      fill="#00A884" />
              </svg>
              <h3>Drop your Logo here or <span>browse</span></h3>
              <h6>Accepted File Type: .png, .gif, .jpg, .jpeg size upto 10 MB.</h6>
            </div>
            <div class="progessBlock">
              <p>New Doc 8 of 10 MB</p>
              <div class="progress" style="height: 6px; width: 50%">
                <div class="progress-bar"
                     role="progressbar"
                     style="width: 40%; background-color: #343d56"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>

            <div class="fileUploaded">
              <h3>Uploaded Docs...</h3>
              <div class="deleteIcon">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4">
            <button class="customButton" type="submit">Save</button>
            <button class="cancelButton" (click)="handleNewForm()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="newsBlock">
    <div *ngFor="let news of newsList">
      <div class="heading">
        <h1>{{news.newsTitle}}</h1>
        <div class="deleteIcon">
          <fa-icon [icon]="faTrashCan" title="Delete News" accessControl [componentId]="componentId" [buttonName]="'Delete'" (click)="deleteNews(news.id)"></fa-icon>
        </div>
      </div>
      <div class="d-flex">
        <div class="avater">
          <img [src]="news.location" class="news-user-image">
        </div>
        <div class="mt-2">
          <p>Posted By: <span> {{news.postedByName}}</span></p>
          <p>Posted Date: <span>{{news.postedDate}}</span></p>
        </div>
      </div>
      <div [innerHTML]="news.newsContent">
      </div>
    </div>
    <div *ngIf="newsList.length==0">
      No Data Available
    </div>
  </div>  
</div>
<div>
  <i accessControl [componentId]="componentId" [buttonName]="'Read Only'" *ngIf="ReadOnly == true"></i>
</div>
