<div
  class="modal fade"
  id="mapTrainingModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Map Training to Role
        </h1>
        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body row">
        <div class="col-12 col-lg-6 col-md-12 mb-3">
          <div class="dropdownsColumn me-4">
            <div class="formField" (blur)="closeDropdown()" tabindex="0">
              <div
                class="customDropInput"
                [ngClass]="{ active: selectedDropdown == 'Training' }"
                (click)="openDropdown('Training')"
              >
                <span
                  class="span"
                  [ngClass]="selectedTraining ? 'checkActive' : 'null'"
                  >Training<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                >
                <h3>
                  {{ selectedTraining }}
                </h3>
              </div>
              <ul>
                <li
                  *ngFor="let value of training"
                  (click)="onTrainingValueChanged(value)"
                >
                  {{ value.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'popupOrgType' }"
                  (click)="openDropdown('popupOrgType')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedOrgType ? 'checkActive' : 'null'"
                    >Org Type<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedOrgType }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of orgType"
                    (click)="onOrgTypeValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
     
        <div class="col-12 col-lg-6 col-md-12 mb-3">
          <div class="dropdownsColumn me-4">
            <div class="formField" (blur)="closeDropdown()" tabindex="0">
              <div
                class="customDropInput"
                [ngClass]="{ active: selectedDropdown == 'popupRole' }"
                (click)="openDropdown('popupRole')"
              >
                <span
                  class="span"
                  [ngClass]="selectedRole ? 'checkActive' : 'null'"
                  >Role<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                >
                <h3>
                  {{ selectedRole }}
                </h3>
              </div>
              <ul>
                <li
                  *ngFor="let value of role"
                  (click)="onRoleValueChanged(value)"
                >
                  {{ value.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12">
          <div class="dropdownsColumn me-4">
            <div class="formField" (blur)="closeDropdown()" tabindex="0">
              <div
                class="customDropInput"
                [ngClass]="{ active: selectedDropdown == 'popupRoleType' }"
                (click)="openDropdown('popupRoleType')"
              >
                <span
                  class="span"
                  [ngClass]="selectedRoleType ? 'checkActive' : 'null'"
                  >Role Type<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                >
                <h3>
                  {{ selectedRoleType }}
                </h3>
              </div>
              <ul>
                <li
                  *ngFor="let value of roleType"
                  (click)="onRoleTypeValueChanged(value)"
                >
                  {{ value.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'StudyRole' }"
                  (click)="openDropdown('StudyRole')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedStudyRole ? 'checkActive' : 'null'"
                    >Study Role<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedStudyRole }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of study_role"
                    (click)="onStudyRoleValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        
        <div class="col-12 col-lg-6 col-md-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'mandatory' }"
                  (click)="openDropdown('mandatory')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedMandatory ? 'checkActive' : 'null'"
                    >Mandatory<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedMandatory }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of mandatory"
                    (click)="onMandatoryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button class="customButton" type="button">Save</button>
          <button class="cancelButton" type="button" (click)="closeModal()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
