<div
  class="modal fade"
  id="trainingPopup"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Upload Training
        </h1>
        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <form>
        <div class="modal-body row">
          <div class="col-md-12 col-lg-6 col-12 mb-3">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  class="inputText"
               
                  name="trainingname"
                  formControlName="trainingname"
                />
                <span class="floating-label">Training Name<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'category' }"
                  (click)="openDropdown('category')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedLanguage ? 'checkActive' : 'null'"
                    >Category<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedCategory }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of category"
                    (click)="onCategoryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'country' }"
                  (click)="openDropdown('country')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedCountry ? 'checkActive' : 'null'"
                    >Country<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedCountry }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of country"
                    (click)="onCountryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-3">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'language' }"
                  (click)="openDropdown('language')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedLanguage ? 'checkActive' : 'null'"
                    >Language<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedLanguage }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of language"
                    (click)="onLanguageValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-8 col-12 mb-4 d-flex">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  class="inputText"
                  placeholder="Enter"
                  name="nodays"
                  formControlName="ICFName"
                />

                <span class="floating-label">No of Days<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
            <div class="form-check form-check-inline checkBox">
              <label class="customCheckBox">
                <input
                  type="checkbox"
                  name="sms"
                  formControlName="IsToIRBApproveCheck"
                />
                <span class="checkmark"></span>
              </label>
              <p>Certified</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-12 col-12 mb-2">
            <div class="dropZone">
              <input type="file" id="fileDropRef" accept="image/*" />
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24 21.3333V2.66667C24 1.2 22.8 0 21.3333 0H2.66667C1.2 0 0 1.2 0 2.66667V21.3333C0 22.8 1.2 24 2.66667 24H21.3333C22.8 24 24 22.8 24 21.3333ZM7.86667 14.64L10.6667 18.0133L14.8 12.6933C15.0667 12.3467 15.6 12.3467 15.8667 12.7067L20.5467 18.9467C20.88 19.3867 20.56 20.0133 20.0133 20.0133H4.02667C3.46667 20.0133 3.16 19.3733 3.50667 18.9333L6.82667 14.6667C7.08 14.32 7.58667 14.3067 7.86667 14.64Z"
                  fill="#00A884"
                />
              </svg>
              <h3>Drop your Logo here or <span>browse</span></h3>
              <h6>Accepted File Type: .xls, .xlsx size upto 10 MB</h6>
            </div>
            <div class="progessBlock">
              <p>New Doc 8 of 10 MB</p>
              <div class="progress" style="height: 6px; width: 50%">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 40%; background-color: #343d56"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
    
            <div class="fileUploaded">
              <h3>Uploaded Docs...</h3>
              <div class="deleteIcon">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="customButton" type="submit">Save</button>
          <button class="cancelButton" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
