<!-- <h3 class="mb-4">Reset Password</h3>
<p style="font-size:14px">Enter your email address and we’ll send you a link to reset your password.</p>
<form class="formStyle" name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm">
  <div class="input-group mb-3">
    <div class="rightIconFld">
      <input [(ngModel)]="obj.email" type="email" name="email" class="form-control lineFld" placeholder="Email"
             id="email" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
      <span *ngIf="email.errors != null && f.submitted && email.errors.required" class="error"></span>
      <span *ngIf="email.errors != null && f.submitted && email.errors.pattern" class="error"></span> -->
<!--<span class="valIcon"><img src="../../../../assets/images/icons/Green-Tick.png" alt="..." width="20"></span>-->
<!-- </div>
  </div>
  <button class="btn btn-primary mb-4" type="button" disabled *ngIf="isloader">
    <span class="spinner-border spinner-border-sm" role="status"></span>
    Loading...
  </button>
  <button type="submit" class="btn btn-primary shadow-2 mb-4" *ngIf="!isloader">Reset Password</button>
</form>
<p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p> -->
<!--<div>
  <h3>Reset Password</h3>
  <p>Enter your email address and we’ll send you a link to reset your password.</p>
</div>
<div class="l-panel">
  <form class="formStyle" name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm">
    <div class="floating-ctrl">
      <input [(ngModel)]="obj.email" type="email" name="email" class="form-control lineFld" placeholder="Email"
        id="email" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
      <span *ngIf="email.errors != null && f.submitted && email.errors.required" class="error"></span>
      <span *ngIf="email.errors != null && f.submitted && email.errors.pattern" class="error"></span>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-secondary shadow-2 mb-2" [routerLink]="['']">Cancel</button>
      <button class="btn btn-primary mb-2" type="button" disabled *ngIf="isloader">
        <span class="spinner-border spinner-border-sm" role="status"></span>
        Loading...
      </button>
      <button type="submit" class="btn btn-primary shadow-2 mb-2" *ngIf="!isloader">Reset Password</button>
    </div>
  </form>
  <p class="mb-0 text-muted text-center" style="margin-top: 12px;">Don’t have an account? <a
      [routerLink]="['/register']">Sign up</a></p>
</div>-->
<!-- login area start -->
<!--<header class="login-area">
  <div class="my-container">
    <div class="main-login-area">
      <div class="login-img">
        <div class="logo-area">
          <a href="#"><img src="../../../../assets/images/logo.png" alt="img"></a>
        </div>
        <div class="banner-area banner-area2">
          <img src="../../../../assets/images/forgot.png" alt="img">
        </div>
      </div>
      <div class="form-area">
        <div class="form-heading">
          <h2>Optimize & Manage</h2>
          <p>Your Clinical Trials</p>
        </div>
        <div class="form-title">
          <p>Reset Password</p>
          <p class="peragraph">Enter your email address and we’ll send you a link to reset your password.</p>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm">
          <input type="email" name="email" [(ngModel)]="obj.email" placeholder="EMAIL">
          <div class=" button button2">
            <input class="btn2" type="button" [routerLink]="['']" value="CANCEL">
            <input class="btn3" type="submit" value="Reset Password" *ngIf="!isloader">
            <button class="btn3" type="button" disabled *ngIf="isloader">
              <span class="spinner-border spinner-border-sm" role="status"></span>
              Loading...
            </button>
          </div>
        </form>
        <div class="form-footer">
          <p>Don’t have an account? <a [routerLink]="['/register']">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</header>-->
<!-- login area end -->

<section id="loginWrapper">
  <aside class="leftSection">
    <div class="logoBlock">
      <!--<img src="../../../../assets/images/cosmosLogo.svg" alt="Cosmos" />-->
      <img src="../../../../assets/images/login/cosmosLogo.svg" alt="Cosmos" />
    </div>
    <div class="imgBlock">
      <img src="../../../../assets/images/login/resetPassword.svg" alt="Reset Password Image" />
    </div>
  </aside>
  <aside class="rightSection scrollbar-new-design forgotPassword">
    <h2>Optimize & Manage <span>Your Clinical Trials</span></h2>
    <h3>Forgot Password</h3>
    <p>Enter your email address and we'll send you a link <span>to reset your password.</span></p>

    <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm">
      <div class="formField" tabindex="0">
        <div class="customInput" [ngClass]="{'customFilled':obj.email, 'showError':emailFieldForgotError}">
          <label for="emailFieldForgot">Email</label>
          <input type="email" name="emailFieldForgot" id="emailFieldForgot" [(ngModel)]="obj.email" (blur)="onEmailFieldForgotBlur()" autocomplete="off" />
        </div>
        <span class="error">Please enter your email</span>
      </div>

      <div class="sbtBtn">
        <input type="button" name="Cancel" value="Cancel" class="cancelBtn" [routerLink]="['']" *ngIf="!isloader"/>
        <input type="submit" name="Submit" value="Submit" *ngIf="!isloader"/>
        <input type="button" name="Loading" value="Loading..." *ngIf="isloader"/>
      </div>
    </form>


    <h5>Don't have an account? <a [routerLink]="['/register']">Sign up</a></h5>
    <h6>©2023 COSMOS, Inc. All Rights Reserved. <a href="#">Privacy Policy</a></h6>
  </aside>
</section>
