<div
  class="modal fade"
  id="comment"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Comments</h1>
        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body row d-flex">
        <div class="col-md-12 col-lg-12 col-12 mb-4">
          <div class="formField">
            <div class="customTextArea d-flex">
              <textarea
                type="text"
                rows="8"
                name="screen"
                placeholder="Write here"
                class="inputText"
                required
                [(ngModel)]="commentText"
              ></textarea>
              <span class="floating-label">Your Comment</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <button style="height: 44px" class="customButton" (click)="addComment()">Add Comment</button>
        </div>

        <h3>User Comments</h3>
        <div class="commentsBlock">
          <div class="comment" *ngFor="let commentDetail of commentsList">
            <h2>{{commentDetail.remarks}}</h2>
            <div class="d-flex justify-content-between">
              <p>Action Date: <span>{{commentDetail.commentedDate | date:'mediumDate'}}</span></p>
              <p>Action Date: <span>{{commentDetail.commentedBy}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
