<p style="font-family:Arial;font-size:11pt;line-height:1.5;">Dear @name,</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	An event has been scheduled 
</p>
<p>
	<table style="border:0px;">
		<tbody style="border:0px;">
			
			<tr style="border:0px;">
				<td style="border:0px;">
					Subject
				</td>
				<td style="border:0px;">
					: @subject
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					From
				</td>
				<td style="border:0px;">
					: @startdate
				</td>

			</tr>
			<tr>
				<td style="border:0px;">
					To
				</td>
				<td style="border:0px;">
					: @enddate
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					Location
				</td>
				<td style="border:0px;">
					: @location
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					Comment
				</td>
				<td style="border:0px;">
					: @comment
				</td>
			</tr>
		</tbody>
	</table>
</p>

<p>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" style="border-radius: 3px;" bgcolor="#3ceb3c"><a href="@acceptlink" target="_blank" style="font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        color: #ffffff;
        text-decoration: none;
        text-decoration: none;
        border-radius: 3px;
        padding: 12px 18px;
        border: 1px solid #0fc22d;
        display: inline-block;">Accept</a></td>
					<td style="width:30px;"></td>
					<td align="center" style="border-radius: 3px;" bgcolor="#ff0303"><a href="@rejectlink" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px 18px; border: 1px solid #e9703e; display: inline-block;">Reject</a></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
</p>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	For any support questions please contact Cosmos.
</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	Regards,<br />
	Team Cosmos <br />
</p>
