<!--@model ViewModels.CampaignInviteViewModel

To: @Model.VoterEmail
From: votenow@vote-now.com.au
Subject: Campaign Details
@{
	var siteurl = ViewBag.VoteWebsite;
}-->


<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	You can reset your password by clicking the link below:
</p>

<b><a href="@ResetPasswordLink" style="font-size:20px;font-weight:bold">Reset Password</a></b>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	For any support questions please contact Cosmos.
</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	Regards,<br />
	Cosmos Team<br />
</p>

