<div class="tableBlock">
  <div class="headBlock">
    <div class="leftBlock">
      <div class="d-flex">
        <div class="dropdownsColumn me-4">
          <div class="formField" (blur)="closeDropdown()" tabindex="0">
            <div class="customDropInput" [ngClass]="{ active: selectedDropdown == 'country' }"
              (click)="openDropdown('country')">
              <span class="span" [ngClass]="selectedCountry ? 'checkActive' : 'null'">Country</span>
              <h3>
                {{ selectedCountry }}
              </h3>
            </div>
            <ul>
              <li *ngFor="let value of country" (click)="onCountryValueChanged(value)">
                {{ value.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdownsColumn me-4 d2">
          <div class="formField" (blur)="closeDropdown()" tabindex="0">
            <div class="customDropInput" [ngClass]="{ active: selectedDropdown == 'site' }"
              (click)="openDropdown('site')">
              <span class="span" [ngClass]="selectedSite ? 'checkActive' : 'null'">Site #</span>
              <h3>
                {{ selectedSite }}
              </h3>
            </div>
            <ul>
              <li *ngFor="let value of site" (click)="onSiteValueChanged(value)">
                {{ value.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="dropdownsColumn me-4 d1">
          <div class="formField" (blur)="closeDropdown()" tabindex="0">
            <div class="customDropInput" [ngClass]="{ active: selectedDropdown == 'orgType' }"
              (click)="openDropdown('orgType')">
              <span class="span" [ngClass]="selectedOrgType ? 'checkActive' : 'null'">Org Type</span>
              <h3>
                {{ selectedOrgType }}
              </h3>
            </div>
            <ul>
              <li *ngFor="let value of orgType" (click)="onOrgTypeValueChanged(value)">
                {{ value.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdownsColumn me-4 d3">
          <div class="formField" (blur)="closeDropdown()" tabindex="0">
            <div class="customDropInput" [ngClass]="{ active: selectedDropdown == 'role' }"
              (click)="openDropdown('role')">
              <span class="span" [ngClass]="selectedRole ? 'checkActive' : 'null'">Role</span>
              <h3>
                {{ selectedRole }}
              </h3>
            </div>
            <ul>
              <li *ngFor="let value of role" (click)="onRoleValueChanged(value)">
                {{ value.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="dropdownsColumn me-4 d1">
          <div class="formField" (blur)="closeDropdown()" tabindex="0">
            <div class="customDropInput" [ngClass]="{ active: selectedDropdown == 'role_type' }"
              (click)="openDropdown('role_type')">
              <span class="span" [ngClass]="selectedRoleType ? 'checkActive' : 'null'">Role Type</span>
              <h3>
                {{ selectedRoleType }}
              </h3>
            </div>
            <ul>
              <li *ngFor="let value of roleType" (click)="onRoleTypeValueChanged(value)">
                {{ value.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="searchBlock mobileScreen d3">
          <div class="formField practiceDrop dropdown-maxh-300">
            <div class="customSearchInput">
              <img src="../../../../assets/images/dashboard/searchIcon.svg" alt="Search Icon" />
              <input type="search" name="search" placeholder="Search" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rightBlock desktopScreen">
      <div class="searchBlock">
        <div class="formField practiceDrop dropdown-maxh-300">
          <div class="customSearchInput">
            <img src="../../../../assets/images/dashboard/searchIcon.svg" alt="Search Icon" />
            <input type="search" name="search" placeholder="Search" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>
          <div class="sortingIcons">
            Site #
            <div class="icons">
              <fa-icon class="topIcon" [icon]="faSortUp"></fa-icon>
              <fa-icon [icon]="faSortDown"></fa-icon>
            </div>
          </div>
        </th>
        <th>
          <div class="sortingIcons">
            Site Name
            <div class="icons">
              <fa-icon class="topIcon" [icon]="faSortUp"></fa-icon>
              <fa-icon [icon]="faSortDown"></fa-icon>
            </div>
          </div>
        </th>
        <th>
          <div class="sortingIcons">
            Completed %
            <div class="icons">
              <fa-icon class="topIcon" [icon]="faSortUp"></fa-icon>
              <fa-icon [icon]="faSortDown"></fa-icon>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let row of rowData; let i = index">
        <tr class="tableRow" [ngStyle]="{
            'background-color': history == i ? 'rgba(0, 168, 132, 0.15)' : null
          }">
          <td>
            {{ row.site }}
          </td>
          <td alt="Site Name ">
            <div class="d-flex" (click)="showHistory(i)">
              {{ row.site_name }}
              <div class="customDropArrow" [ngClass]="{ active: history == i }"></div>
            </div>
          </td>
          <td alt="Training Name">
            {{ row.completed }}
          </td>
        </tr>
        <th colspan="4">
          <ng-container *ngIf="history == i">
            <tr class="history">
              <th>User Name</th>
              <th>Role</th>
              <th>Training</th>
              <th>
                Status
              </th>
              <th>
                Competition Dt
              </th>
              <th>
                Completed (%)
              </th>
            </tr>
            <ng-container *ngFor="let rows of row.history; let i = index" class="d-flex">
              <tr class="history" style="width: 100%">
                <td>{{ rows.user_name }}</td>
                <td>{{ rows.role }}</td>
                <td>{{ rows.training }}</td>
                <td>
                  <div class="status" [ngStyle]="{
                    'color': rows.status == 'pending' ? '#E67E22' : null
                  }">
                    {{ rows.status }}
                  </div>
               
                </td>
                <td>
                  {{ rows.date }}
                </td>
                <td >
                  <div class="d-flex align-items-center">
                    <div class="progress" style="height: 6px; width: 70%">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 50%; background-color: #343d56"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <p style="margin-left: 10px;margin-top: 13px;">35 (%)</p>
                  </div>
            
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </th>
      </ng-container>
    </tbody>
  </table>

  <div class="paginationBlock">
    <div class="paginationLeft">
      <h3>1-20 of 786 Entries</h3>
    </div>
    <div class="paginationRight">
      <!--Page Numbers Block-->
      <div class="formField pageNumbers" (blur)="closeDropdown()" tabindex="0">
        <div class="customInput" [ngClass]="{ active: selectedDropdown == 'pageNmsDrop' }"
          (click)="openDropdown('pageNmsDrop')">
          <h3>{{ selectedPageNum }}</h3>
        </div>
        <ul>
          <li *ngFor="let page of pageNumsList" (click)="onSelectDropValueChange(page)">
            {{ page }}
          </li>
        </ul>
      </div>
      <div class="pageArrows">
        <ul>
          <li>
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_86_193)">
                <path
                  d="M18.2084 10.5417H7.50377L12.1804 5.86502C12.5542 5.49127 12.5542 4.87794 12.1804 4.50419C11.8067 4.13044 11.2029 4.13044 10.8292 4.50419L4.51377 10.8196C4.14002 11.1934 4.14002 11.7971 4.51377 12.1709L10.8292 18.4863C11.2029 18.86 11.8067 18.86 12.1804 18.4863C12.5542 18.1125 12.5542 17.5088 12.1804 17.135L7.50377 12.4584H18.2084C18.7354 12.4584 19.1667 12.0271 19.1667 11.5C19.1667 10.9729 18.7354 10.5417 18.2084 10.5417Z"
                  fill="#363F57" fill-opacity="0.5" />
              </g>
              <defs>
                <clipPath id="clip0_86_193">
                  <rect width="23" height="23" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </li>
          <li>
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_86_196)">
                <path
                  d="M4.79165 12.4583L15.4962 12.4583L10.8196 17.135C10.4458 17.5087 10.4458 18.1221 10.8196 18.4958C11.1933 18.8696 11.7971 18.8696 12.1708 18.4958L18.4862 12.1804C18.86 11.8066 18.86 11.2029 18.4862 10.8291L12.1708 4.51373C11.7971 4.13998 11.1933 4.13998 10.8196 4.51373C10.4458 4.88748 10.4458 5.49123 10.8196 5.86498L15.4962 10.5416L4.79165 10.5416C4.26456 10.5416 3.83331 10.9729 3.83331 11.5C3.83331 12.0271 4.26456 12.4583 4.79165 12.4583Z"
                  fill="#363F57" fill-opacity="0.5" />
              </g>
              <defs>
                <clipPath id="clip0_86_196">
                  <rect width="23" height="23" fill="white" transform="translate(23 23) rotate(-180)" />
                </clipPath>
              </defs>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>