<app-header></app-header>
<section id="innerBanner">
  <div class="container">
    <h2>Job Id UH54856</h2>
  </div>
</section>

<section id="jobSearchingPage">
  <div class="container">
    <div class="row">
      <div class="leftCol">
        <div class="leftInner">
          <h3>Ref. Number: 7996</h3>
      
        </div>

        <div class="jobsListBox">
          <div class="jobsCard">
          
              <div class="flexRow">
                <div class="label"> Salary</div>
                <div class="content">
                  HKD $5,000</div>
              </div>
              <div class="flexRow">
                <div class="label">District</div>
                <div class="content">Kowloon City</div>
              </div>
              <div class="flexRow">
                <div class="label">No of family</div>
                <div class="content">
                  2
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Accommodation</div>
                <div class="content">
                  Private room
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Looking for</div>
                <div class="content">
                  Filipino
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Remark</div>
                
              </div>
              <div class="btnsBlock">
                <button class="nextBtn" >Enquiry</button>
                <button class="nextBtn" >Share</button>
              </div>
          </div>

          <div class="jobsCard">
              <div class="title">DUTIES NEEDED IN FAMILY</div>
              <div class="content">
                <ul>
                  <li>Child</li>
                  <li>Household</li>
                  <li>Ironing</li>
                  <li>Markit</li>
                  <li>Cleaning</li>
                  <li>Cooking</li>
                  <li>Car wash</li>

                </ul>
            </div>
          </div>

          <div class="jobsCard">
            <div class="title">EMPLOYER INFORMATION</div>
            
            <div class="flexRow">
              <div class="label">Live in</div>
              <div class="content">Kowloon City</div>
            </div>
            <div class="flexRow">
              <div class="label">Apartment Size</div>
              <div class="content">
              450 sq. ft.
              </div>
            </div>
            <div class="flexRow">
              <div class="label">Family member</div>
              <div class="content">
                Without pet
              </div>
            </div>
            <div class="flexRow">
              <div class="label">Car washing</div>
              <div class="content">
                Yes, 1 car
              </div>
            </div>
        </div>

        <div class="jobsCard">
          <div class="title">SALARY & ACCOMMODATION</div>
          
          <div class="flexRow">
            <div class="label">Salary</div>
            <div class="content">HKD $5,000            </div>
          </div>
          <div class="flexRow">
            <div class="label">Accommodation</div>
            <div class="content">
              Private room
            </div>
          </div>
          <div class="flexRow">
            <div class="label">Day off</div>
            <div class="content">
              Sunday
            </div>
          </div>
      </div>

      <div class="jobsCard">
        <div class="title">LOOKING FOR</div>
        
        <div class="flexRow">
          <div class="label">Helper nationality</div>
          <div class="content">Filipino </div>
        </div>
        <div class="flexRow">
          <div class="label">Language spoken</div>
          <div class="content">
            English
          </div>
        </div>
        <div class="flexRow">
          <div class="label">Working status</div>
          <div class="content">
            Finished contract
          </div>
        </div>
        <div class="flexRow">
          <div class="label">Age</div>
          <div class="content">
           30-40
          </div>
        </div>
        <div class="flexRow">
          <div class="label">Marital status</div>
          <div class="content">
            Any
          </div>
        </div>

        <div class="flexRow">
          <div class="label">Education</div>
          <div class="content">
           Any
          </div>
        </div>
        <div class="flexRow">
          <div class="label">Religion</div>
          <div class="content">
            Any
          </div>
        </div>
    </div>
        
        </div>
      </div>
      <div class="rightCol">
        <form>
          <div class="formBlock">
              <h2>Find Job</h2>
              <div class="formBlockInner">
                <!--Field-->
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Nationality</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      Indonesian
                      <input type="checkbox" value="Indonesian" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Filipino
                      <input type="checkbox" value="Filipino" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Language</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      Cantonese
                      <input type="checkbox" value="Cantonese" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      English
                      <input type="checkbox" value="English" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Mandarin
                      <input type="checkbox" value="Mandarin" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Duties</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      House work
                      <input type="checkbox" value="House work" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Cooking
                      <input type="checkbox" value="Cooking" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Baby
                      <input type="checkbox" value="Baby" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Baby
                      <input type="checkbox" value="Baby" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Children
                      <input type="checkbox" value="Children" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Elderly
                      <input type="checkbox" value="Elderly" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Disabled person
                      <input type="checkbox" value="Disabled person" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Pets
                      <input type="checkbox" value="Pets" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Wash car
                      <input type="checkbox" value="Wash car" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
             
             
            </div>
            <div class="btnsBlock">
              <button class="nextBtn" >Search</button>
            </div>
          </div>
          
        </form>    
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
