<div
  class="modal fade"
  id="eSignModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="eSignFlag">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Reason for Singing
        </h1>

        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body row">
        <h4>
          Please verify that the information below is correct and select a
          reason for signing.
        </h4>
        <div class="col-md-12 col-lg-12 col-12 mb-2 mt-2">
          <div class="formField">
            <div class="customInput d-flex">
              <input type="text" name="title" class="inputText" [(ngModel)]="userName" required />
              <span class="floating-label">Signatory Name</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-12 mb-2">
          <div class="formField">
            <div class="customInput d-flex">
              <input type="text" name="comments" class="inputText" [(ngModel)]="obj.email" required />
              <span class="floating-label">Signatory Email</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mb-4">
          <app-dropdown [dropDownName]="'Signing Reason'" [optionObject]="signingReasonsObject"
            [Options]="signingReasonsOptions" [enumDropDownType]="true" [selectedId]="data.documentSignatureRequest.documentSignatureType"
            (selectedValueEmit)="onValueChange($event, 'signingReason')">
          </app-dropdown>
        </div>
        <h4 class="mb-3">Sign Off Visit</h4>
        <div class="tabs">
          <div class="elements me-2">
            <h3
              [ngClass]="{
                activeTab: tab == 'password'
              }"
              (click)="setTab('password')"
            >
              Password
            </h3>
          </div>

          <div class="elements">
            <h3
              [ngClass]="{
                activeTab: tab == 'hand_draw'
              }"
              (click)="setTab('hand_draw')"
            >
              Hand Draw
            </h3>
          </div>
        </div>
        <div class="tabDetails" *ngIf="tab == 'password'">
          <h4>
            By entering my password, I attest that I have vefified the data in
            the visit electronic source document and have determined that they
            are complete, accurate and compatible with paper source document
          </h4>
          <div class="col-md-12 col-lg-12 col-12 mb-2 mt-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input type="text" name="title" class="inputText" required />
                <span class="floating-label">Username</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-12 mb-2">
            <div class="formField">
              <div class="customInput d-flex">
                <input type="text" name="comments" class="inputText" required />
                <span class="floating-label">Password</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabDetails" *ngIf="tab == 'hand_draw'">
          <h4>
            I attest that I have vefified the data in the visit electronic
            source document and have determined that they are complete, accurate
            and compatible with paper source document
          </h4>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12 mb-2">
              <app-dropdown *ngIf="color && color.length > 0"
                [dropDownName]="'Pen Color'" 
                [Options]="color" 
                [optionId]="'id'"
                [optionName]="'name'"
                [selectedId]="'black'"
                (selectedValueEmit)="onValueChange($event, 'penColor')">
                </app-dropdown>
            </div>
            <div class="col-lg-6 col-md-12 col-12 mb-2">
              <label for="customRange1" class="form-label">Pen Size: {{penSize}}</label>
              <input (change)="setPenSize()" type="range" min="1" max="10" step="1" name="penSize" [(ngModel)]="penSize" />
            </div>
          </div>
          <div class="sign">
            <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="customButton" type="submit" (click)="drawComplete()">E-Sign</button>
        <button class="cancelButton" (click)="clear()" *ngIf="tab == 'hand_draw'">Clear</button>
        <button class="cancelButton" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
