<div class="tabs">
  <div
    class="tabsElement"
    [ngClass]="{
      activeTab: tab == '/study_center_site/site_study_team/site_study_contact'
    }"
    (click)="setTab('/study_center_site/site_study_team/site_study_contact')"
  >
    <p>Study Contact</p>
  </div>
  <div
    class="tabsElement"
    [ngClass]="{
      activeTab: tab == '/study_center_site/site_study_team/site_site'
    }"
    (click)="setTab('/study_center_site/site_study_team/site_site')"
  >
    <p>Site</p>
  </div>
  <div
    class="tabsElement"
    [ngClass]="{
      activeTab: tab == '/study_center_site/site_study_team/site_my_site'
    }"
    (click)="setTab('/study_center_site/site_study_team/site_my_site')"
  >
    <p>My Site</p>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
