<app-header></app-header>
<section id="innerBanner">
  <div class="container">
    <h2>Find Job</h2>
  </div>
</section>

<section id="jobSearchingPage">
  <div class="container">
    <div class="row">
      <div class="leftCol">
        <div class="leftInner">
          <h3>Search</h3>
          <h5>Number of record(s) found: 60</h5>
        </div>

        <div class="jobsListBox">
          <div class="jobsCard">
            <a href="/findjobDetails">
              <div class="flexRow">
                <div class="label">District</div>
                <div class="content">Kowloon City</div>
              </div>
              <div class="flexRow">
                <div class="label">Language</div>
                <div class="content">English</div>
              </div>
              <div class="flexRow">
                <div class="label">No of family</div>
                <div class="content">
                  <span>1 Adult</span>
                  <span>1 Child</span>
                  <span>Without pet </span>
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Duties</div>
                <div class="content">
                    <ul>
                      <li>Child</li>
                      <li>Household</li>
                      <li>Ironing</li>
                      <li>Markit</li>
                      <li>Cleaning</li>
                      <li>Cooking</li>
                      <li>Car wash</li>

                    </ul>
                </div>
              </div>
              <div class="btnsBlock">
                <button class="nextBtn" >Details</button>
              </div>
            </a>
          </div>
          <div class="jobsCard">
            <a href="">
              <div class="flexRow">
                <div class="label">District</div>
                <div class="content">Kowloon City</div>
              </div>
              <div class="flexRow">
                <div class="label">Language</div>
                <div class="content">English</div>
              </div>
              <div class="flexRow">
                <div class="label">No of family</div>
                <div class="content">
                  <span>1 Adult</span>
                  <span>1 Child</span>
                  <span>Without pet </span>
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Duties</div>
                <div class="content">
                    <ul>
                      <li>Child</li>
                      <li>Household</li>
                      <li>Ironing</li>
                      <li>Markit</li>
                      <li>Cleaning</li>
                      <li>Cooking</li>
                      <li>Car wash</li>

                    </ul>
                </div>
              </div>
              <div class="btnsBlock">
                <button class="nextBtn" >Details</button>
              </div>
            </a>
          </div>
          <div class="jobsCard">
            <a href="">
              <div class="flexRow">
                <div class="label">District</div>
                <div class="content">Kowloon City</div>
              </div>
              <div class="flexRow">
                <div class="label">Language</div>
                <div class="content">English</div>
              </div>
              <div class="flexRow">
                <div class="label">No of family</div>
                <div class="content">
                  <span>1 Adult</span>
                  <span>1 Child</span>
                  <span>Without pet </span>
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Duties</div>
                <div class="content">
                    <ul>
                      <li>Child</li>
                      <li>Household</li>
                      <li>Ironing</li>
                      <li>Markit</li>
                      <li>Cleaning</li>
                      <li>Cooking</li>
                      <li>Car wash</li>

                    </ul>
                </div>
              </div>
              <div class="btnsBlock">
                <button class="nextBtn" >Details</button>
              </div>
            </a>
          </div>
          <div class="jobsCard">
            <a href="">
              <div class="flexRow">
                <div class="label">District</div>
                <div class="content">Kowloon City</div>
              </div>
              <div class="flexRow">
                <div class="label">Language</div>
                <div class="content">English</div>
              </div>
              <div class="flexRow">
                <div class="label">No of family</div>
                <div class="content">
                  <span>1 Adult</span>
                  <span>1 Child</span>
                  <span>Without pet </span>
                </div>
              </div>
              <div class="flexRow">
                <div class="label">Duties</div>
                <div class="content">
                    <ul>
                      <li>Child</li>
                      <li>Household</li>
                      <li>Ironing</li>
                      <li>Markit</li>
                      <li>Cleaning</li>
                      <li>Cooking</li>
                      <li>Car wash</li>

                    </ul>
                </div>
              </div>
              <div class="btnsBlock">
                <button class="nextBtn" >Details</button>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="rightCol">
        <form>
          <div class="formBlock">
              <h2>Find Job</h2>
              <div class="formBlockInner">
                <!--Field-->
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Nationality</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      Indonesian
                      <input type="checkbox" value="Indonesian" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Filipino
                      <input type="checkbox" value="Filipino" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Language</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      Cantonese
                      <input type="checkbox" value="Cantonese" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      English
                      <input type="checkbox" value="English" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Mandarin
                      <input type="checkbox" value="Mandarin" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="formField checkboxBtns">
                  <label class="mainLabel">Duties</label>
    
                  <div class="customInput">
                    <label class="containerCheckbox">
                      House work
                      <input type="checkbox" value="House work" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Cooking
                      <input type="checkbox" value="Cooking" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Baby
                      <input type="checkbox" value="Baby" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Baby
                      <input type="checkbox" value="Baby" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Children
                      <input type="checkbox" value="Children" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Elderly
                      <input type="checkbox" value="Elderly" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Disabled person
                      <input type="checkbox" value="Disabled person" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Pets
                      <input type="checkbox" value="Pets" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="containerCheckbox">
                      Wash car
                      <input type="checkbox" value="Wash car" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
             
             
            </div>
            <div class="btnsBlock">
              <button class="nextBtn" >Search</button>
            </div>
          </div>
          
        </form>    
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
