<app-header></app-header>

<section id="innerBanner">
    <div class="container">
      <h2>About Us</h2>
     
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        
        <div class="colRight">
          <h3>Our Introduction</h3>
          <h2>One Stop Personal Consultant Agency</h2>
          <div class="saperator"></div>
          <p>
            Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.
          </p>
  
          <h4>Our Service</h4>
          <ul>
            <li>* Overseas & Local domestic helper</li>
            <li>* Renewal & Extension visa / Direct hire</li>
            <li>* Insurance / Ticket / Medical Checkup</li>
          </ul>
        </div>
        <div class="colLeft">
            <div class="aboutUsImageBox">
                <div class="image image1">
                    <img src="../../../../assets/images/about-12.jpg"/>
                </div>
                <div class="image image2">
                    <img src="../../../../assets/images/about-13.jpg"/>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>


  <section id="jobPosting">
    <div class="container">
      <div class="row">
        
        <div class="jobProcess">
          <h3>Job Posting</h3>
          <h2>How to Write a Job Posting</h2>
          <div class="saperator"></div>
          <p>
            Here are some tips for writing a great job advertisement for a domestic helper or driver that will get noticed:
          </p>
          
  
          <h5>Use a Great Job Title Highlight</h5>
          <p>This is one of the most important parts of your job posting.  When you create your title highlight make sure it stands out and attracts the best helper or driver!</p>
          <h5>Describe the Type of Helper  or Driver You Are Looking For</h5>
          <p>This shouldn’t just be limited to the helper or driver's education, experience and skill set.  Give a short but accurate description of the personality traits that will fit best with your family.  This can include such specific traits you would like to avoid.</p>
          <h5>Responsibilities</h5>
          <p>A helper job normally includes hands-on childcare and child-related duties as well as general household duties.  Don’t waste time including these in your list. Instead use the space provided to list any additional duties that will be required.</p>
          
        </div>
      
      </div>
    </div>
  </section>

  <section id="testimonials">
        <div class="container">
            <div class="testimonialHeading">
                <h3>Testimonials</h3>
                <h2>What They Say About Our Service</h2>
                <div class="saperator"></div>
            </div>

            <div class="testimonialSlider">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-slide-to="2">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" data-bs-slide-to="2">
                      <div class="carousel-item active">
                        <div class="contentBox">
                            <div class="leftCol">
                                <div class="avtar">
                                    <img src="../../../../assets/images/clientImg.jpg" alt="Client Image"/>
                                </div>
                            </div>
                            <div class="rightCol">
                                <div class="feedback">
                                    <p>Yan is a seasoned trademark attorney who is very clear in his approach. Swift, knowledgeable, to the point, sticks to the schedules and reliable when it comes to Trademark Office Action responses. Highly Recommended !</p>
                                    <h3>Amiya D</h3>
                                    <h6>United States</h6>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="contentBox">
                            <div class="leftCol">
                                <div class="avtar">
                                    <img src="../../../../assets/images/clientImg.jpg" alt="Client Image"/>
                                </div>
                            </div>
                            <div class="rightCol">
                                <div class="feedback">
                                    <p>Yan is a seasoned trademark attorney who is very clear in his approach. Swift, knowledgeable, to the point, sticks to the schedules and reliable when it comes to Trademark Office Action responses. Highly Recommended !</p>
                                    <h3>Amiya D</h3>
                                    <h6>United States</h6>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="contentBox">
                            <div class="leftCol">
                                <div class="avtar">
                                    <img src="../../../../assets/images/clientImg.jpg" alt="Client Image"/>
                                </div>
                            </div>
                            <div class="rightCol">
                                <div class="feedback">
                                    <p>Yan is a seasoned trademark attorney who is very clear in his approach. Swift, knowledgeable, to the point, sticks to the schedules and reliable when it comes to Trademark Office Action responses. Highly Recommended !</p>
                                    <h3>Amiya D</h3>
                                    <h6>United States</h6>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
  </section>


<app-footer></app-footer>
