<div
  class="modal fade"
  id="commentModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Comments</h1>
        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body row d-flex">
        <div class="col-md-12 col-lg-10 col-12 mb-4">
          <div class="formField">
            <div class="customInput d-flex">
              <input
                type="text"
                name="comments"
                class="inputText"

                required
              />
              <span class="floating-label">comments<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
            </div>
          </div>
          
        </div>  
        <div style="margin-left: -5px;" class="col-md-12 col-lg-2 col-12 d-flex mb-4"> <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.946815 7.3165C0.424815 7.14251 0.419815 6.86151 0.956815 6.68251L20.0438 0.320505C20.5728 0.144505 20.8758 0.440505 20.7278 0.958505L15.2738 20.0445C15.1238 20.5735 14.8188 20.5915 14.5948 20.0895L11.0008 12.0015L17.0008 4.00151L9.00081 10.0015L0.946815 7.3165Z" fill="#5F6983"/>
          </svg></div>
      </div>
    </div>
  </div>
</div>
