<div
  class="modal fade"
  id="televistPopup"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Calendar Event</h1>
        <button type="button" class="btn-close icon" data-bs-dismiss="modal" aria-label="Close"(click)="closeModal()"></button>
      </div>
      <form #f="ngForm" id="f" (ngSubmit)="onSubmit(f)" *ngIf="modalOpenFlag">
        <div class="modal-body row">
          <div class="col-lg-4 col-md-12 col-12 mb-4">
            <div class="form-check form-check-inline checkBox">
              <label class="customCheckBox">
                <input type="checkbox" name="sms" [(ngModel)]="calendarEvent.displayOnMyCalendar"/>
                <span class="checkmark"></span>
              </label>
              <label>My calendar</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 mb-4">
            <div class="form-check form-check-inline checkBox">
              <label class="customCheckBox">
                <input type="checkbox" name="sms" [(ngModel)]="calendarEvent.isPrivate"/>
                <span class="checkmark"></span>
              </label>
              <label>Private</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <app-event-type [eventValue]="calendarEvent.calendarEventType" (calendarEventValue)="onValueChange($event, 'eventType')"></app-event-type>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4" *ngIf="false">
            <app-dropdown *ngIf="sponsorSiteStudyCDAInvitations && sponsorSiteStudyCDAInvitations.length > 0"
                [dropDownName]="'Study'" 
                [Options]="sponsorSiteStudyCDAInvitations" 
                [optionId]="'id'"
                [optionName]="'sponsorStudyInfo'"
                [subOptionName]="'title'"
                [selectedId]="calendarEvent.sponsorSiteStudyCDAInvitationId"
                (selectedValueEmit)="onValueChange($event, 'study')">
                </app-dropdown>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <app-dropdown *ngIf="organizationContacts && organizationContacts.length > 0"
                [dropDownName]="'Assigned To'" 
                [Options]="organizationContacts" 
                [optionId]="'id'"
                [optionName]="'firstName'"
                [selectedId]="calendarEvent.calenderAssignedTo"
                (selectedValueEmit)="onValueChange($event, 'assignedTo')">
                </app-dropdown>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <app-event-status [eventValue]="calendarEvent.calendarEventStatus" (eventStatusValue)="onValueChange($event, 'eventStatus')"></app-event-status>
          </div>
          <!-- <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'category' }"
                  (click)="openDropdown('category')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedLanguage ? 'checkActive' : 'null'"
                    >Category</span
                  >
                  <h3>
                    {{ selectedCategory }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of category"
                    (click)="onCategoryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'country' }"
                  (click)="openDropdown('country')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedLanguage ? 'checkActive' : 'null'"
                    >Country</span
                  >
                  <h3>
                    {{ selectedCountry }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of country"
                    (click)="onCountryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'language' }"
                  (click)="openDropdown('language')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedLanguage ? 'checkActive' : 'null'"
                    >Language</span
                  >
                  <h3>
                    {{ selectedLanguage }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of language"
                    (click)="onLanguageValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  class="inputText"
                  placeholder="Subject"
                  name="Subject"
                  [(ngModel)]="calendarEvent.subject"
                />
                <span class="floating-label">Subject</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4" *ngIf="calendarEvent.sponsorSiteStudyCDAInvitationId && calendarEvent.sponsorSiteStudyCDAInvitationId>0 && calendarEvent.calendarEventType && calendarEvent.calendarEventType==3">
            <app-dropdown *ngIf="studySubjects && studySubjects.length > 0"
                [dropDownName]="'Study Subject'" 
                [Options]="organizationContacts" 
                [optionId]="'id'"
                [optionName]="'firstName'"
                [selectedId]="calendarEvent.studySubjectId"
                (selectedValueEmit)="onValueChange($event, 'studySubject')">
                </app-dropdown>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="color"
                  class="inputText"
                  placeholder="Color Code"
                  name="ColorCode"
                  [(ngModel)]="calendarEvent.colorCode"
                />

                <span class="floating-label">Color Code</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customDateInput customInput d-flex">
                <input
                  type="datetime-local"
                  name="Date"
                  width="150"
                  placeholder="Start Date/Time"
                  [(ngModel)]="calendarEvent.startDate" min="1901-01-01" max="2050-12-31" tabindex="7" (blur)="changeDate()"
                />
                <span class="floating-label">Start Date/Time</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customDateInput customInput d-flex">
                <input
                  type="datetime-local"
                  name="Date"
                  width="150"
                  placeholder="End Date/Time"
                  [(ngModel)]="calendarEvent.endDate" min="1901-01-01" max="2050-12-31" tabindex="7" (blur)="changeDate()"
                />
                <span class="floating-label">End Date/Time</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <app-dropdown *ngIf="studyStaffReminder && studyStaffReminder.length > 0"
                [dropDownName]="'Staff Reminder (Hrs)'" 
                [Options]="studyStaffReminder" 
                [selectedId]="calendarEvent.eventReminder"
                (selectedValueEmit)="onValueChange($event, 'staffReminder')">
                </app-dropdown>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  class="inputText"
                  placeholder="Location"
                  name="Location"
                  [(ngModel)]="calendarEvent.location"
                />
                <span class="floating-label">Location</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4" *ngIf="calendarEvent?.calendarEventType==7">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  class="inputText"
                  placeholder="televisitUrl"
                  name="televisitUrl"
                  [(ngModel)]="televisitUrl"
                />
                <span class="floating-label">Televist URL  <a href="javascript:" title="Copy URL" (click)="copyTeleVisitUrl()"><i class="fas fa-solid fa-copy"></i></a></span>
              </div>
            </div>
          </div>
          
          <!-- <div class="addNewBlock">
            <div class="headBlock">
              <div class="title">
                <p>Screening visit</p>
                <div class="icon" (click)="handleNewForm()">
                  <img
                    class="icon ms-1"
                    src="../../../../../assets/images/add.svg"
                  />
                </div>
              </div>
              <div *ngIf="showForm">
                <div class="d-flex">
                  <div class="formField mb-2" style="width: 50%">
                    <div class="customInput d-flex">
                      <input
                        type="text"
                        name="SSN"
                        class="inputText"
                        required
                      />
                      <span class="floating-label"> Visit Name</span>
                      <span class="star">
                        <fa-icon [icon]="faStarOfLife"></fa-icon
                      ></span>
                    </div>
                  </div>
                  <button class="button">eConsent</button>
                </div>
                <div class="d-flex">
                  <div class="col-lg-6 col-md-12 col-12 mb-2">
                    <div class="dropdownsColumn me-4">
                      <div
                        class="formField"
                        (blur)="closeDropdown()"
                        tabindex="0"
                      >
                        <div
                          class="customDropInput"
                          style="background-color: white"
                          [ngClass]="{ active: selectedDropdown == 'language' }"
                          (click)="openDropdown('language')"
                        >
                          <span
                            class="span"
                            [ngClass]="
                              selectedLanguage ? 'checkActive' : 'null'
                            "
                            >Language</span
                          >
                          <h3>
                            {{ selectedLanguage }}
                          </h3>
                        </div>
                        <ul>
                          <li
                            *ngFor="let value of language"
                            (click)="onLanguageValueChanged(value)"
                          >
                            {{ value.name }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button class="button">eConsent</button>
                </div>

                <div class="formField mb-2" style="width: 100%">
                  <div class="customInput d-flex">
                    <input type="text" name="SSN" class="inputText" required />
                    <span class="floating-label"> Visit Name</span>
                    <span class="star">
                      <fa-icon [icon]="faStarOfLife"></fa-icon
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-12 col-lg-12 col-12 mb-2">
            <div class="formField">
              <div class="customTextArea d-flex">
                <textarea
                  type="text"
                  rows="5"
                  name="screen"
                  placeholder="Comments"
                  class="inputText"
                  required
                  [(ngModel)]="calendarEvent.comments"
                ></textarea>
                <span class="floating-label">Comments</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="customButton" type="submit">Save</button>
          <button class="cancelButton" type="button" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
