$color_1: #031926;
$color_2: rgba(52, 61, 86, 0.5);
$color_3: #ffffff;
$color_4: rgba(54, 63, 87, 0.5);
$color_5: #363f57;
$color_6: #00a884;
$color_7: #343d56;
$color_8: #ff7597;
$border-color_1: #00a884;
$border-color_2: rgba(234, 235, 238, 1);

.pageViews {
  display: flex;
  padding: 38px 48px 74px 48px;
  flex-direction: column;
  gap: 36px;

  .headBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;

    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $color_1;
    }

    .btnBlock {
      width: 270px;
      height: 45px;
      background: rgba(243, 244, 246, 0.5);
      border: 1px solid #f3f4f6;
      backdrop-filter: blur(32.5px);
      border-radius: 8px;
      display: flex;
      align-items: stretch;
      padding: 5px;
      gap: 5px;

      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $color_2;
        width: 33.33%;
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        cursor: pointer;
        padding: 0 10px;

        &:hover {
          color: $color_3;
          background: #00a884;
        }
      }

      span.active {
        color: $color_3;
        background: #00a884;
      }
    }
  }

  .pageViewsItemsMain {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .pageViewsItem {
      background: #ffffff;
      border: 1px solid rgba(52, 61, 86, 0.04);
      box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
      border-radius: 8px;
      width: 33%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .itemTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .itemTopLeft {
          width: 55%;

          img {
            width: 100%;
          }
        }

        .itemTopRight {
          width: 35%;

          h5 {
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $color_4;
          }

          h2 {
            margin: 0;
            padding: 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            color: $color_1;
          }
        }
      }

      .itemBottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
          border-collapse: collapse;

          th {
            text-align: left;
            height: 50px;
            width: 20%;
            border-bottom: 1px solid #f3f4f6;
            position: relative;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $color_4;

            &:first-child {
              width: 60%;
            }
          }

          td {
            text-align: left;
            height: 50px;
            width: 20%;
            border-bottom: 1px solid #f3f4f6;
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $color_5;
            position: relative;

            &:first-child {
              width: 60%;
            }

            .legendName {
              display: flex;
              flex-direction: row;
              gap: 5px;
              align-items: center;
            }

            .circle {
              width: 8px;
              height: 8px;
              background: #ffffff;
              border-radius: 100%;
              display: block;
            }

            .circle.color1 {
              border: 3px solid #0acadc;
              box-shadow: 0px 2px 7px #1cdeff;
            }

            .circle.color2 {
              border: 3px solid #9267b4;
              box-shadow: 0px 2px 7px #9267b4;
            }

            .circle.color3 {
              border: 3px solid #ff7597;
              box-shadow: 0px 2px 7px #ff7597;
            }

            .circle.color4 {
              border: 3px solid #ff7597;
              box-shadow: 0px 2px 7px #ff7597;
            }

            .circle.color5 {
              border: 3px solid #3adeb2;
              box-shadow: 0px 2px 7px #3adeb2;
            }
          }

          tr {
            &:hover {
              td {
                background: rgba(243, 244, 246, 0.5);

                &:first-child {
                  &:before {
                    content: "";
                    background: rgba(243, 244, 246, 0.5);
                    width: 10px;
                    height: 100%;
                    border-radius: 10px 0 0 10px;
                    position: absolute;
                    left: -10px;
                    top: 0px;
                  }
                }

                &:last-child {
                  &:before {
                    content: "";
                    background: rgba(243, 244, 246, 0.5);
                    width: 10px;
                    height: 100%;
                    border-radius: 0 10px 10px 0;
                    position: absolute;
                    right: -10px;
                    top: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.infoStudyTaskBlock {
  display: flex;
  flex-direction: row;
  gap: 36px;

  .infoStudyTaskBlockLeft {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 33%;

    .infoBlock {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;

      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $color_1;
        align-items: center;
        min-height: 45px;
        display: flex;
        flex-direction: row;
      }

      .infoBlockItemsMain {
        display: flex;
        flex-direction: row;
        gap: 22px;

        .infoBlockItem {
          display: flex;
          flex-direction: column;
          height: 139px;
          justify-content: center;
          border: 1px solid rgba(52, 61, 86, 0.04);
          box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
          border-radius: 8px;
          width: 50%;
          padding-left: 32px;

          h4 {
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: $color_5;
          }

          h3 {
            margin: 0px;
            padding: 0px;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $color_1;
          }

          h5 {
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: $color_6;
          }
        }
      }
    }

    .taskBlock {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;

      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $color_1;
        align-items: center;
        min-height: 45px;
        display: flex;
        flex-direction: row;
      }

      .taskItem {
        background: #ffffff;
        border: 1px solid rgba(52, 61, 86, 0.04);
        box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
        border-radius: 8px;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .itemTop {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .itemTopLeft {
            width: 45%;

            img {
              width: 100%;
            }
          }

          .itemTopRight {
            width: 50%;

            h5 {
              margin: 0;
              padding: 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: $color_4;
            }

            h2 {
              margin: 0;
              padding: 0;
              font-weight: 700;
              font-size: 40px;
              line-height: 60px;
              color: $color_1;
            }
          }
        }

        .itemBottom {
          display: flex;
          flex-direction: column;
          align-items: center;

          table {
            border-collapse: collapse;

            th {
              text-align: left;
              height: 50px;
              width: 20%;
              border-bottom: 1px solid #f3f4f6;
              position: relative;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: $color_4;

              &:first-child {
                width: 60%;
              }
            }

            td {
              text-align: left;
              height: 50px;
              width: 20%;
              border-bottom: 1px solid #f3f4f6;
              position: relative;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: $color_5;
              position: relative;

              &:first-child {
                width: 60%;
              }

              .legendName {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
              }

              .circle {
                width: 8px;
                height: 8px;
                background: #ffffff;
                border-radius: 100%;
                display: block;
              }

              .circle.color1 {
                border: 3px solid #0acadc;
                box-shadow: 0px 2px 7px #1cdeff;
              }

              .circle.color2 {
                border: 3px solid #9267b4;
                box-shadow: 0px 2px 7px #9267b4;
              }

              .circle.color3 {
                border: 3px solid #ff7597;
                box-shadow: 0px 2px 7px #ff7597;
              }

              .circle.color4 {
                border: 3px solid #ff7597;
                box-shadow: 0px 2px 7px #ff7597;
              }

              .circle.color5 {
                border: 3px solid #3adeb2;
                box-shadow: 0px 2px 7px #3adeb2;
              }
            }

            tr {
              &:hover {
                td {
                  background: rgba(243, 244, 246, 0.5);

                  &:first-child {
                    &:before {
                      content: "";
                      background: rgba(243, 244, 246, 0.5);
                      width: 10px;
                      height: 100%;
                      border-radius: 10px 0 0 10px;
                      position: absolute;
                      left: -10px;
                      top: 0px;
                    }
                  }

                  &:last-child {
                    &:before {
                      content: "";
                      background: rgba(243, 244, 246, 0.5);
                      width: 10px;
                      height: 100%;
                      border-radius: 0 10px 10px 0;
                      position: absolute;
                      right: -10px;
                      top: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .infoStudyTaskBlockRight {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 66%;

    .headBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 45px;

      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $color_1;
      }

      .searchBlock {
        position: relative;

        .formField {
          position: relative;

          &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $color_7;
          }

          .customInput {
            position: relative;

            img {
              position: absolute;
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
              z-index: 9;
            }

            input {
              position: relative;
              min-height: 45px;
              background: #ffffff;
              border: 1px solid #eaebee;
              border-radius: 8px;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 12px;
              cursor: pointer;
              width: 300px;
              padding-left: 30px;
            }
          }
        }
      }

      .statusDrop {
        position: relative;

        .customInput {
          position: relative;
          min-height: 45px;
          background: #ffffff;
          border: 1px solid #eaebee;
          border-radius: 8px;
          width: 233px;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          min-height: 45px;
          background: #ffffff;
          border: 1px solid #eaebee;
          border-radius: 8px;
          width: 233px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 12px;
          cursor: pointer;

          &:after {
            position: absolute;
            content: "";
            background: url(../../../../assets/images/dashboard/dropdownArror.svg)
              no-repeat;
            width: 9px;
            height: 5px;
            background-size: cover;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.5s;
          }

          h3 {
            position: relative;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $color_7;
            width: 180px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
          }
        }

        .customInput.active {
          border-color: $border-color_1;
          -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
          -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
          box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

          &:after {
            transform: translateY(-50%) rotate(-180deg);
          }
        }

        ul {
          background: #ffffff;
          box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
          border-radius: 8px;
          padding: 8px;
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 100%;
          top: 60px;
          display: none;
          z-index: 99;

          li {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 10px 8px 10px 8px;
            border-radius: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: $color_7;
            cursor: pointer;

            &:hover {
              background: rgba(243, 244, 246, 0.5);
            }
          }
        }

        .customInput.active ~ ul {
          display: flex;
        }
      }
    }

    .rightBlock {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    .tabelBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid rgba(52, 61, 86, 0.04);
      box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
      border-radius: 8px;
      width: 100%;


      thead {
        position: sticky;

        th {
          height: 60px;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $color_2;
          text-align: left;

          &:first-child {
            padding: 0 0 0 23px;
          }
        }
      }

      tbody {
        td {
          &:first-child {
            padding: 0 0 0 23px;
          }

          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: $color_7;
          height: 60px;
          border-bottom: 1px solid #eaebee;

          .title {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: $color_7;
          }

          .rejectedStatus {
            color: $color_8;
          }
        }
      }

      tr {
        &:last-child {
          td {
            border-bottom: 0px;
          }
        }

        &:hover {
          td {
            background: rgba(243, 244, 246, 0.5);
          }
        }
      }
    }
  }
}

.studiesBlock {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;

  .headBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;

    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $color_1;
    }

    .searchBlock {
      position: relative;

      .formField {
        position: relative;

        &::placeholder {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: $color_7;
        }

        .customInput {
          position: relative;

          img {
            position: absolute;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
          }

          input {
            position: relative;
            min-height: 45px;
            background: #ffffff;
            border: 1px solid #eaebee;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 12px;
            cursor: pointer;
            width: 300px;
            padding-left: 30px;
          }
        }
      }
    }
  }

  .tabelBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(52, 61, 86, 0.04);
    box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
    border-radius: 8px;
    width: 100%;

    thead {
      position: sticky;

      th {
        height: 60px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $color_2;
        text-align: left;

        &:first-child {
          padding: 0 0 0 23px;
        }
      }
    }

    tbody {
      td {
        &:first-child {
          padding: 0 0 0 23px;
        }

        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $color_7;
        height: 60px;
        border-bottom: 1px solid #eaebee;

        .title {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: $color_7;
        }

        .rejectedStatus {
          color: $color_8;
        }
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: 0px;
        }
      }

      &:hover {
        td {
          background: rgba(243, 244, 246, 0.5);
        }
      }
    }
  }
}

.paginationBlock {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaebee;
  align-items: center;
  min-height: 90px;
  padding: 0 23px;

  .paginationLeft {
    h3 {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $color_2;
    }
  }

  .paginationRight {
    display: flex;
    gap: 10px;
  }

  .pageNumbers {
    position: relative;
    width: 80px;

    .customInput {
      position: relative;
      min-height: 45px;
      background: #ffffff;
      border: 1px solid #eaebee;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:after {
        position: absolute;
        content: "";
        background: url(../../../../assets/images/dashboard/dropdownArror.svg)
          no-repeat;
        width: 9px;
        height: 5px;
        background-size: cover;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
      }

      h3 {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color_7;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        pointer-events: none;
        min-height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .customInput.active {
      border-color: $border-color_1;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
      box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    ul {
      background: #ffffff;
      box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
      border-radius: 8px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      bottom: 70px;
      display: none;
      z-index: 99;

      li {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 10px 8px 10px 8px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: $color_7;
        cursor: pointer;

        &:hover {
          background: rgba(243, 244, 246, 0.5);
        }
      }
    }

    .customInput.active ~ ul {
      display: flex;
    }
  }

  .pageArrows {
    ul {
      display: flex;
      gap: 12px;

      li {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(234, 235, 238, 1);
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          border-color: $border-color_1;

          svg {
            path {
              fill: #00a884;
              fill-opacity: 1;
            }
          }
        }
      }

      li.active {
        border-color: $border-color_1;
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

        svg {
          path {
            fill: #00a884;
            fill-opacity: 1;
          }
        }
      }

      li.disabled {
        border-color: $border-color_2;

        &:hover {
          border-color: $border-color_2;

          svg {
            path {
              fill: #363f57;
              fill-opacity: 0.5;
            }
          }
        }

        svg {
          path {
            fill: #363f57;
            fill-opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1367px) {
  #rightSection {
    width: 100% !important;
    margin-left: 0px !important;

    .welcomeBar {
      padding-left: 25px;
      padding-right: 25px;

      .leftBlock {
        display: flex;
        gap: 10px;
      }
    }

    .topBar {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .contentSection {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .infoStudyTaskBlock {
    flex-direction: column;

    .infoStudyTaskBlockLeft {
      width: 100% !important;
    }
  }

  .pageViews {
    .pageViewsItemsMain {
      flex-direction: column;

      .pageViewsItem {
        width: 100% !important;
      }
    }
  }

  .infoStudyTaskBlockRight {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .pageViews {
    .headBlock {
      flex-direction: column !important;
      gap: 10px;
      align-items: flex-start !important;
    }
  }

  .infoStudyTaskBlock {
    .infoStudyTaskBlockRight {
      .tabelBlock {
        table {
          display: flex;
          flex-direction: column;
          height: 660px;

          thead {
            display: none;
          }

          tbody {
            display: flex;
            flex-direction: column;
            gap: 30px;

            tr {
              display: flex !important;
              flex-direction: column !important;
              justify-content: center !important;
              border: 1px solid rgba(52, 61, 86, 0.04) !important;
              border-radius: 8px !important;
              width: 100% !important;
              position: relative;

              td {
                display: flex;
                align-items: center;
                padding: 0 0 0 30% !important;
                position: relative;

                &:before {
                  position: absolute;
                  content: attr(alt);
                  left: 30px;
                  top: 50%;
                  transform: translateY(-50%);
                  font-weight: 700;
                }
              }
            }
          }
        }

        border: 0px;
        box-shadow: none;
        padding: 0px;

        tbody {
          td {
            &:first-child {
              &:before {
                display: none;
              }

              padding: 0 0 0 30px !important;
              background: #eaebee;
              border-radius: 8px 8px 0 0;
            }

            &:last-child {
              &:before {
                display: none;
              }

              position: absolute;
              top: 0;
              z-index: 9;
              width: auto;
              padding: 0px !important;
              right: 20px;
            }

            &:nth-child(5) {
              border-bottom: 0px;
            }
          }
        }
      }
    }
  }

  .studiesBlock {
    .tabelBlock {
      table {
        tbody {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        tr {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          border: 1px solid rgba(52, 61, 86, 0.04) !important;
          border-radius: 8px !important;
          width: 100% !important;
          position: relative;

          td {
            display: flex;
            align-items: center;
            padding: 0 0 0 30% !important;
            position: relative;

            &:before {
              position: absolute;
              content: attr(alt);
              left: 30px;
              top: 50%;
              transform: translateY(-50%);
              font-weight: 700;
            }

            &:first-child {
              background: #eaebee;
              border-radius: 8px 8px 0 0;
            }

            &:last-child {
              border-bottom: 0px;
            }
          }
        }

        height: 660px;
      }

      border: 0px;
      box-shadow: none;
      padding: 0px;

      thead {
        display: none;
      }
    }
  }
}
