$color_1: #031926;
$color_2: rgba(52, 61, 86, 0.5);
$color_3: #ffffff;
$color_4: #001729;
$color_5: #363f57;
$color_6: #00a884;
$color_7: #5f6983;
$color_8: #ff7597;
$border-color_1: #00a884;
$border-color_2: rgba(234, 235, 238, 1);
$bg-color: #ededed;
.history {
  width: 100%;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #eaebee;
  &:last-child {
    td {
      border-bottom: 1px solid #00a884 !important;
    }
  }
  th {
    width: 22%;
    height: 60px !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #343d56;
    &:first-child {
      padding: 0 0 0 60px;
    }
    &:last-child {
      width: 200px !important;
    }
  }
  td {
    width: 20%;
    height: 60px !important;
    height: 20px !important;
    margin-top: 80px;
    &:first-child {
      padding-left: 60px !important;
    }
    &:last-child {
      padding: 0 40px 0 0;
    }
  }
}
.mainBlock {
  padding: 38px 30px 30px 30px;
  gap: 15px;
  width: 100%;
  position: relative;
  display: flex;

  .tableBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(52, 61, 86, 0.04);
    box-shadow: 0px 16px 24px rgba(52, 61, 86, 0.1);
    border-radius: 8px;
    width: 100%;
    .headBlock {
      display: flex;
      flex-direction: row;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      min-height: 45px;
      padding: 15px;
      padding-top: 22px;
      padding-left: 21px;
      .rightBlock {
        display: flex;
      }
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $color_1;
      }
    }

    thead {
      position: sticky;
      background-color: $bg-color;
      th {
        height: 60px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: $color_4;
        &:first-child {
          padding: 0 0 0 20px;
        }
        &:last-child {
          padding-left: 5px;
          width: 200px;
        }
      }
    }

    tbody {
      td {
        &:first-child {
          padding: 0 0 0 20px;
          .action {
            display: none;
          }
        }

        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: $color_7;
        height: 60px;
        border-bottom: 1px solid #eaebee;
        .btn-group {
          ul {
            width: 177px;
            height: 128px;
            padding-top: 12px;
            align-items: center;
            background: #ffffff;
            border: 1px solid #e9e9e9;
            box-shadow: 2px 3px 11px rgba(52, 61, 86, 0.4);
            border-radius: 8px;
            a {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              margin: 0 5px;
              line-height: 25px;
              color: #5f6983;
              fa-icon {
                margin-right: 5px;
              }
              &:hover {
                background-color: rgba(0, 168, 132, 0.2);
                color: #00a884;
                width: 160px;
                margin: 0 5px;
                border-radius: 10px;
              }
            }
          }
        }
        .customDateInput {
          input {
            width: 140px;
            height: 45px;
          }
        }
      }

      .icon {
        width: 40px;
        height: 40px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5f6983;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 168, 132, 0.2);
          color: #00a884;
        }
        ul {
          width: 188px;
          height: 337px;
          border-radius: 8px;
          padding-left: 18px;
          padding-top: 17px;
          box-shadow: 2px 3px 11px rgba(52, 61, 86, 0.4);
          border: 1px solid #e9e9e9;
          li p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #5f6983;
          }
        }
      }
      .deleteIcon {
        width: 40px;
        height: 40px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5f6983;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background-color: #e4cac9;
          color: #df5753;
        }
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: 0px;
        }
      }

      &:hover {
        td {
          background: rgba(243, 244, 246, 0.5);
        }
      }
    }
  }

  .paginationBlock {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaebee;
    align-items: center;
    min-height: 90px;
    padding: 0 23px;

    .paginationLeft {
      h3 {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color_2;
      }
    }

    .paginationRight {
      display: flex;
      gap: 10px;
    }

    .pageNumbers {
      position: relative;
      width: 60px;

      .customInput {
        position: relative;
        height: 50px;
        padding-top: 7px;
        margin-top: 4px;
        background: #ffffff;
        border: 1px solid #eaebee;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:after {
          position: absolute;
          content: "";
          background: url(../../../../../assets/images/dropdownArror.svg) no-repeat;
          width: 9px;
          height: 5px;
          background-size: cover;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.5s;
        }

        h3 {
          position: relative;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: $color_7;
          padding: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          pointer-events: none;
          min-height: 55px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .customInput.active {
        border-color: $border-color_1;
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
        box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      ul {
        background: #ffffff;
        box-shadow: 0px 16px 32px rgba(52, 61, 86, 0.2);
        border-radius: 8px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        bottom: 70px;
        display: none;
        z-index: 99;

        li {
          display: flex;
          flex-direction: row;
          position: relative;
          padding: 10px 8px 10px 8px;
          border-radius: 8px;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: $color_7;
          cursor: pointer;

          &:hover {
            background: rgba(243, 244, 246, 0.5);
          }
        }
      }

      .customInput.active ~ ul {
        display: flex;
      }
    }

    .pageArrows {
      ul {
        display: flex;
        gap: 12px;

        li {
          width: 55px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(234, 235, 238, 1);
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            border-color: $border-color_1;

            svg {
              path {
                fill: #00a884;
                fill-opacity: 1;
              }
            }
          }
        }

        li.active {
          border-color: $border-color_1;
          -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
          -moz-box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);
          box-shadow: 0px 0px 0px 3px rgba(0, 168, 132, 0.1);

          svg {
            path {
              fill: #00a884;
              fill-opacity: 1;
            }
          }
        }

        li.disabled {
          border-color: $border-color_2;

          &:hover {
            border-color: $border-color_2;

            svg {
              path {
                fill: #363f57;
                fill-opacity: 0.5;
              }
            }
          }
          customButton svg {
            path {
              fill: #363f57;
              fill-opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .tableBlock {
    .headBlock {
      padding-left: 3px;
      display: flex;
      flex-direction: column;
      h2 {
        width: 100%;
      }
      .rightBlock {
        justify-content: space-between;

        width: 100%;
      }
    }
    table {
      display: flex;
      flex-direction: column;
      height: 660px;
      thead {
        display: none;
      }
      tbody {
        display: flex;
        flex-direction: column;
        gap: 30px;
        tr {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          border: 1px solid rgba(52, 61, 86, 0.04) !important;
          border-radius: 8px !important;
          width: 100% !important;
          position: relative;

          td {
            display: flex;
            align-items: center;
            padding: 0 0 0 50% !important;
            position: relative;
            &:before {
              position: absolute;
              content: attr(alt);
              left: 30px;
              top: 50%;
              transform: translateY(-50%);
              font-weight: 700;
            }
            &:first-child {
              padding: 0px 30px !important;
              display: flex;
              justify-content: space-between;
              background: #eaebee;
              border-radius: 8px 8px 0 0;
              .action {
                display: block;
              }
              &:before {
                display: none;
              }
            }

            &:last-child {
              display: none !important;
            }
          }
        }
      }
    }
    table::-webkit-scrollbar {
      display: none;
    }
    border: 0px;
    box-shadow: none;
    padding: 0px;
  }
}
