<p style="font-family:Arial;font-size:11pt;line-height:1.5;">Dear @name,</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	An event has been deleted 
</p>
<p>
	<table style="border:0px;">
		<tbody style="border:0px;">
			
			<tr style="border:0px;">
				<td style="border:0px;">
					Subject
				</td>
				<td style="border:0px;">
					: @subject
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					From
				</td>
				<td style="border:0px;">
					: @startdate
				</td>

			</tr>
			<tr>
				<td style="border:0px;">
					To
				</td>
				<td style="border:0px;">
					: @enddate
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					Location
				</td>
				<td style="border:0px;">
					: @location
				</td>
			</tr>
			<tr>
				<td style="border:0px;">
					Comment
				</td>
				<td style="border:0px;">
					: @comment
				</td>
			</tr>
		</tbody>
	</table>
</p>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	For any support questions please contact YanSingh.
</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	Regards,<br />
	Team YanSingh <br />
</p>
