<p style="font-family:Arial;font-size:11pt;line-height:1.5;">Dear @Name,</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	Your account has been created successfully.
	Please use the credentials given bellow to login to your account:
</p>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	Username: @Email<br />
	Password: @Password
</p>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	For any support questions please contact YanSingh.
</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	Regards,<br />
	YanSingh Team<br />
</p>

