<p style="font-family:Arial;font-size:11pt;line-height:1.5;">Dear @Name,</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;margin-bottom:0;">
	Your account has been created successfully.
	Please click the link bellow to activate the account:
</p>

<b><a href="@Link" style="font-size:20px;font-weight:bold">Activate Account</a></b>

<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	For any support questions please contact YanSingh.
</p>
<p style="font-family:Arial;font-size:11pt;line-height:1.5;">
	Regards,<br />
	YanSingh Team<br />
</p>

