.dropZone {
    width: 402px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #eaebee;
    border-radius: 8px;
    position: relative;
    padding: 12px;
    padding-top: 7px;
    margin-top: 7px;
    input {
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: rgba(52, 61, 86, 0.5);
      margin-bottom: -2px;
    }
    h6 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #00a884;
    }
  }
  