<div
  class="modal fade"
  id="paperSignModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Upload Paper Sign Document
        </h1>

        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body row d-flex">
        <div class="d-flex mb-4">
          <div class="dropZone">
            <input type="file" id="fileDropRef" accept=".pdf, .doc, .docx" [(ngModel)]="uploadPaperSignName" (change)="onFileChange($event)"/>
            <h3>Attachments</h3>
            <h6>{{(uploadPaperSignConsent &&
              uploadPaperSignConsent.name)? uploadPaperSignConsent.name : 'Upload file'}}</h6>
          </div>

          <button class="customButton" style="margin-left: 10px; margin-top: 7px" (click)="uploadEConsentDocument()">
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
