<div
  class="modal fade"
  id="updateProfilePopup"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Site</h1>
        <button
          type="button"
          class="btn-close icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <form>
        <div class="modal-body row">
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="investigator_email"
                  [ngClass]="error ? 'error' : 'null'"
                  class="inputText"
                  required
                />
                <span class="floating-label">Investigator Email<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
              <span class="errorText" *ngIf="error">Please Enter value</span>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="investigator_name"
                  class="inputText"
                  required
                />
                <span class="floating-label">Investigator Name<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="investigator_phone"
                  class="inputText"
                  required
                />
                <span class="floating-label">Investigator Phone #<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="site_name"
                  class="inputText"
                  required
                />
                <span class="floating-label">Site Name<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input type="text" name="site" class="inputText" required />
                <span class="floating-label">Site # <fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="site_phone"
                  class="inputText"
                  required
                />
                <span class="floating-label">Site Phone #<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="first_name"
                  class="inputText"
                  required
                />
                <span class="floating-label">First Name <fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 mb-4">
            <div class="formField">
              <div class="customInput d-flex">
                <input
                  type="text"
                  name="last_name"
                  class="inputText"
                  required
                />
                <span class="floating-label">Last Name<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'country' }"
                  (click)="openDropdown('country')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedCountry ? 'checkActive' : 'null'"
                    >Country<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedCountry }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of country"
                    (click)="onCountryValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="dropdownsColumn me-4">
              <div class="formField" (blur)="closeDropdown()" tabindex="0">
                <div
                  class="customDropInput"
                  [ngClass]="{ active: selectedDropdown == 'state' }"
                  (click)="openDropdown('state')"
                >
                  <span
                    class="span"
                    [ngClass]="selectedState ? 'checkActive' : 'null'"
                    >State<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span
                  >
                  <h3>
                    {{ selectedState }}
                  </h3>
                </div>
                <ul>
                  <li
                    *ngFor="let value of state"
                    (click)="onStateValueChanged(value)"
                  >
                    {{ value.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-6 col-md-12">
            <div class="col-md-12 col-lg-12 col-12 mb-4">
              <div class="formField">
                <div class="customInput d-flex">
                  <input type="text" name="city" class="inputText" required />
                  <span class="floating-label">City<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-12 mb-4">
              <div class="formField">
                <div class="customInput d-flex">
                  <input
                    type="text"
                    name="zip_code"
                    class="inputText"
                    required
                  />
                  <span class="floating-label">Zip Code<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 col-md-12">
            <div class="col-md-12 col-lg-12 col-12 mb-2">
              <div class="formField">
                <div class="customTextArea d-flex">
                  <textarea
                    type="text"
                    rows="8"
                    name="screen"
                    placeholder="Enter Here"
                    class="inputText"
                    required
                  ></textarea>
                  <span class="floating-label">Address<fa-icon class="star" [icon]="faStarOfLife"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="customButton" type="submit">Save</button>
          <button class="cancelButton"   (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
